//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  border: 2px solid transparent;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.015em;
  @include button-size($padding-base-vertical, $padding-base-horizontal, 15px, $base-line-height, $btn-border-radius-base);

  min-width: 210px;
  text-transform: uppercase;


  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  img + span,
  i + span,
  span + img,
  span + i {
    margin-left: 15px;
  }

  &--full {
    display: flex;
    width: 100%;
    & + & {
      margin-top: 5px;
    }
  }

  &--natural {
    vertical-align:baseline;
    font-size:inherit;
    line-height:inherit;
    padding-right:0.5em;
    padding-left: 0.5em;
  }

  &--default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  }


  // Color buttons
  @if $use-btn-color == true {
    &--primary {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
    &--success {
      @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    }
    &--info {
      @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    }
    &--warning {
      @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
    &--danger {
      @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
    &--outlined {
      @include button-variant-tr($btn-outlined-color, $btn-outlined-bg, $btn-outlined-border);
    }
    &--second {
      @include button-variant-tr($base-color-dark, white, $btn-outlined-border);
    }
  }

  // Button Sizes
  @if $use-btn-size == true {
    &__lg {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-btn, $btn-border-radius-large);
      height: 55px;
    }
    &__sm {
      font-weight: 500;
      text-transform: initial;
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-btn, 3px);
      height: 42px;
    }
    &__xs {
      @include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-base);
      height: 32px;
      min-width: auto;
    }
  }

  &--round {
    @include border-radius(50px);
  }

  &-group {
    margin-top: 20px;
    > .btn {
      margin-right: 10px;
    }
  }

  // Button group
  @if $use-btn-group == true {
    &-group {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      > .btn {
        position: relative;
        float: left;
        &:first-child {
          margin-left: 0;
          &:not(:last-child) {
            @include border-right-radius(0);
          }
        }
        &:last-child:not(:first-child) {
          @include border-left-radius(0);
        }
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }
        + .btn {
          margin-left: -1px;
        }
      }

      &--justified {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        > .btn {
          float: none;
          display: table-cell;
          width: 1%;
        }
      }
    }
  }
}
