//
// Modules -> Accordion
// --------------------------------------------------

.disabledEl {
  &:before {
    color: $gray-darken !important;
  }
  .eduProgress-title {
    color: $gray-darken;
  }
  .eduProgress-list {
    color: $gray-darken;
    &-ico,
    &-name,
    &-date,
    &-count,
    &-time {
      color: $gray-darken;
    }

    &-checked {
      background-color: white;
      border: 1px solid white;
    }
  }
}

.tabs {
  &__caption {
    display: flex;
    align-self: center;
    li {
      font-weight: 700;
      text-align: center;
      font-size: 12px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $base-color-dark;
      border-bottom: 3px solid $gray;
      padding: 15px 0;
      flex: 1;
      cursor: pointer;
      transition: all .5s;
      margin-bottom: 0;
      &:before {
        display: none;
      }
      &:hover {
        color: $base-color-main;
      }
      &.active {
        color: $base-color-main;
        border-color: $base-color-main;
      }
    }
  }
  &__content {
    display: none;
    &.active {
      display: block;
    }
  }
}

.accordion {
  &-header {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    border-top: 3px solid $base-color-main;
    @media screen and (min-width: $screen-md-min) {
      align-items: center;
      height: 47px;
      font-size: 16px;
    }
    &-num {
      min-width: 47px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: $base-color-main;
      font-size: 26px;
      letter-spacing: 0.03em;
      margin-right: 20px;
    }
    &-title {
      color: $base-color-dark;
      padding: 10px 0 15px;
      @media screen and (min-width: $screen-md-min) {
        padding: 0;
      }
      span {
        color: $base-color-main;
      }
    }
    &-arr {
      margin-left: auto;
      margin-right: 20px;
      i {
        display: inline-block;
        color: $base-color-main;
        vertical-align: middle;
        transition: transform .5s;
      }
    }
    &.active {
      .accordion-header-arr {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
  &-el {
    margin-bottom: 20px;
    background-color: $gray;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 45px;
    }

    &--disabled {
      .accordion-header {
        border-color: $gray-darken;
        &-title, &-title span, &-arr i {
          color: $gray-darken;
        }
        &-num {
          background-color: $gray-darken;
        }
      }
      .eduProgress {
        &-el {
          @extend .disabledEl;
        }
      }
    }
  }
  &-body {
    display: none;
  }

  &--simple {
    .accordion {
      &-header {
        border-top: none;
        text-transform: initial;
        padding: 15px 20px;
        color: $base-color-dark;
        &-arr {
          margin-right: 0;
        }
      }
      &-body {
        padding: 20px;
      }
      &-el {
        margin-bottom: 10px;
      }
    }
  }

  .table {
    margin-top: 20px;
    background-color: white;
    color: $base-color-dark;

    tr {
      th {
        text-align: center;
        font-weight: 700;
        font-size: 9px;
      }
      td, th {
        border: 1px solid $gray-darken;
      }
      td {
        font-size: 11px;
        text-align: center;
        &:first-child {
          text-align: left;
          min-width: 150px;
        }
      }
    }
  }
}

.linkIcon {
  text-decoration: none;
  color: $base-color-dark;
  img {
    margin-right: 6px;
    vertical-align: middle;
  }
}
