//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    margin-bottom: 40px;
    list-style: none;

    &__item {
      display: inline;
      &:before {
        content: "";
        margin: 0;
      }
      & + & {
        &:before {
          content: "#{$breadcrumb-separator}";
          padding: 0 5px;
          color: $breadcrumb-active-color;
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
    &__link {
      color: $breadcrumb-color;
    }
  }
}
