.list--numbered {
  counter-reset: item;
  li {
    &:before {
      content: counters(item, ".") " ";
      counter-increment: item;
      font-weight: 700;
    }
  }
  &.accordion > li {
    &:before {
      font-size: 0;
      position: absolute;
    }
  }
}

.eduProgress {
  padding-bottom: 40px;
  &-el {
    position: relative;
    padding-left: 70px;
    margin-top: 15px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 36px;
    }
    &:before {
      position: absolute;
      left: 20px;
      top: 0;
      color: $base-color-main;
    }
    &--disabled {
      @extend .disabledEl;
    }
  }
  &-title {
    font-weight: 700;
    color: $base-color-dark;
    margin-bottom: 12px;
  }
  &-list {
    color: $base-color-main;
    .list--numbered {
      &:before {
        display: inline-block;
      }
      .eduProgress-list-title {
        display: inline-block;
        color: $base-color-dark;
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }
    &-ico {
      width: 30px;
      color: $base-color-main;
      align-self: flex-start;
      @media screen and (min-width: $screen-md-min) {
        align-self: center;
      }
    }
    &-name {
      width: calc(100% - 30px);
      margin-bottom: 15px;
      color: $base-color-main;
      @media screen and (min-width: $screen-md-min) {
        width: auto;
        margin-right: 40px;
        margin-bottom: 0;
      }
      &--bold {
        font-weight: 700;
      }
    }
    &-date {
      font-size: 12px;
      //width: 100%;
      letter-spacing: 0.03em;
    }
    &-date,
    &-count,
    &-time {
      color: $base-color-main;
      margin-right: 10px;
      @media screen and (min-width: $screen-md-min) {
        margin-right: 30px;
      }
    }
    &-line {
      flex-grow: 2;
      height: 1px;
      background: rgba($base-color-main, .3);
      display: block;
      margin-right: 10px;
      @media screen and (min-width: $screen-md-min) {
        margin-right: 25px;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin-right: 10px;
      }
    }
    &-checked {
      width: 22px;
      height: 22px;
      border-radius: 25px;
      background-color: white;
      border: 1px solid $base-color-main;
      margin-left: auto;
    }
    &-el {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 25px;
      padding-right: 10px;
      text-decoration: none;
      @media screen and (min-width: $screen-md-min) {
        flex-wrap: nowrap;
        margin-bottom: 10px;
        padding-right: 20px;
      }
      &--finished {
        .eduProgress-list {
          color: $base-color-dark;
          &-time,
          &-date,
          &-name,
          &-count,
          &-ico {
            color: $base-color-dark;
          }
          &-checked {
            background: url("../images/icons/checked.svg") no-repeat center, $color-type-4b;
            border: 1px solid $color-type-4b;
          }
        }
      }
    }
  }

  .icon-video {
    font-size: 18px;
  }
  .icon-test {
    font-size: 22px;
  }

  &-certificate {
    padding: 30px 20px;
    margin-bottom: 26px;

    .col {
      &:last-child {
        margin-top: 20px;
        @media screen and (min-width: $screen-md-min) {
          margin-left: 50px;
        }
        @media screen and (min-width: $screen-lg-min) {
          margin: 0;
        }
      }
    }
    &--disabled {
      color: white;
      background-color: $gray-darken;
      a {
        color: white;
      }
    }
    .title {
      align-items: flex-start;
      > * + * {
        margin-left: 20px;
      }
      .btn {
        text-transform: initial;
        border-radius: 3px;
      }
    }
    &-par {
      margin-left: 50px;
      margin-top: 20px;
      .social-head {
        margin-bottom: 15px;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 0;
        }
      }
      @media screen and (min-width: $screen-md-min) {
        margin-left: 0;
        margin-top: 0;
      }
    }
  }
}
