//
// Modules -> Navs
// --------------------------------------------------

.sub-nav {
  display: none;
  padding-top: 15px;
  li.main-nav__item {
    margin-bottom: 0 !important;
  }
}




.c-panel-nav__menu-item--level-1 {
  padding-bottom: 20px; }
@media (min-width: 992px) {
  .c-panel-nav__menu-item--level-1 {
    padding-bottom: 10px; } }
.c-panel-nav__menu-item--level-1:last-child {
  padding-bottom: 0; }
.c-panel-nav__menu-item--level-2 {
  padding-bottom: 12px; }
@media (min-width: 992px) {
  .c-panel-nav__menu-item--level-2 {
    padding-bottom: 16px; } }

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;
    display: block;
    @media screen and (min-width: $screen-adaptive-nav) {
      display: inline-block;
    }
    &--parent {
      > a {
        width: 100%;
        &:after {
          content: '';
          width: 8px;
          height: 4px;
          margin-left: 10px;
          vertical-align: middle;
          display: inline-block;
          position: absolute;
          right: 0;
          top: 8px;
          transition: transform .5s;
          background: url("../images/icons/showmore-b.svg") no-repeat center;
        }
        &.opened {
          &:after {
            transform: rotate(180deg);
            background: url("../images/icons/showmore-b.svg") no-repeat center;
          }

          + .sub-nav {
            display: block;
          }
        }
      }
    }
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    background-color: transparent;
  }
}
