.tabbed-content {
  .tabs {
    display: none;
    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }
  .item {
    .tabHead {
      span {
        &::before {
          content: attr(data-title);
        }
        &::after {
          content: attr(data-num);
        }
      }
    }
    @media screen and (min-width: $screen-md-min) {
      display: none;
    }
    &-content {
      display: none;
    }
    &.active {
      display: block;
      .item-content {
        display: block;
      }
    }
  }
}


