.page-cabinet {
  .doubleTitle {
    margin: 40px 0;
    @media screen and (min-width: $screen-md-min) {
      margin: 60px 0;
    }
  }

  .cabinet {
    &-desk {
      background-color: $gray;
      padding: 25px 10px 25px 25px;
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: 200px;
      }
      @media screen and (min-width: $screen-xl-min) {
        margin-left: auto;
      }
      a {
        display: flex;
        align-self: center;
        color: $base-color-main;
        text-decoration: none;
        font-weight: 600;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        i {
          font-size: 22px;
          margin-right: 10px;
          color: $base-color-main;
        }
      }
    }
  }
}

.courses {
  margin-top: 40px;
  &-el {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: $gray;
    border-radius: 3px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    @media screen and (min-width: $screen-xl-min) {
      flex-wrap: nowrap;
    }
    &__ico {
      min-width: 65px;
    }
    &__title {
      font-weight: 700;
      font-size: 16px;
      color: $base-color-dark;
      flex: 3;
      display: flex;
      h3 {
        margin: 0;
      }
      @media screen and (min-width: $screen-md-min) {
        margin-right: 40px;
        font-size: 20px;
      }
    }
    &__dates {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 65px;
        display: flex;
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-xl-min) {
        flex: 2;
        width: auto;
        display: block;
        margin-left: 0;
        margin-top: 0;
      }
    }
    &__info {
      width: 100%;
      order: 1;
      @media screen and (min-width: $screen-md-min) {
        order: 0;
        flex: 1;
        width: auto;
      }
      @media screen and (min-width: $screen-xl-min) {
        order: 1;
      }
      .estimates {
        &-head {

        }
        &-body {
          font-size: 28px;
          color: $base-color-main;
          span {
            font-weight: 900;
          }
          small {
            font-size: 14px;
          }
        }
      }
      .social {
        &-head {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 12px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: $base-color-dark;
          @media screen and (min-width: $screen-md-min) {
            margin-bottom: 0;
          }
        }
        &-list {
          justify-content: flex-start;
          a {
            background-color: $base-color-dark;
          }
          i {
            color: white;
            font-size: 29px;
            margin-left: 2px;
          }
        }
      }
    }
    .dates {
      &-el {
        @media screen and (min-width: $screen-md-min) {
          width: 50%;
        }
        @media screen and (min-width: $screen-xl-min) {
          width: auto;
        }
        p {
          margin-bottom: 0;
        }
        + .dates-el {
          margin-top: 20px;
          @media screen and (min-width: $screen-md-min) {
            margin-top: 0;
          }
          @media screen and (min-width: $screen-xl-min) {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
