.certificates {
  margin-top: 40px;
  &-el {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: $gray;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 35px 25px;
    &__desc {
      display: flex;
      //max-width: 480px;
      flex: 2;
      padding-right: 20px;
      @media screen and (min-width: $screen-lg-min) {
        flex: 3;
        padding-right: 0;
      }
      h3,
      .text__lg {
        font-size: 16px;
        @media screen and (min-width: $screen-md-min) {
          font-size: 20px;
        }
      }
      h3 {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
    &__ico {
      min-width: 65px;
    }
    &__btn {
      width: 100%;
      margin-top: 20px;
      flex: 1;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        padding-left: 30px;
        padding-right: 20px;
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: auto;
        //padding-left: 30px;
        margin-top: 0;
      }
      .btn {
        display: flex;
        @media screen and (min-width: $screen-md-min) {
          display: inline-flex;
          margin-right: 20px;
        }
        @media screen and (min-width: $screen-xl-min) {
          display: inline-flex;
          margin-right: 0;
        }
        span {
          margin: auto;
        }
        i {
          margin-left: auto;
        }
        + .btn {
          margin-top: 12px;
          //@media screen and (min-width: $screen-md-min) {
            //margin-top: 0;
          //}
          //@media screen and (min-width: $screen-xl-min) {
            //margin-top: 12px;
          //}
        }
      }
    }
  }
}
