.page-course {
  padding-bottom: 30px;
  @media screen and (min-width: $screen-lg-min) {
    padding-bottom: 90px;
  }
  h2 {
    margin-bottom: 50px;
  }
  h4 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 30px;
  }
}

.video {
  width: 100%;
  height: 100%;
}
.video-course {
  @media screen and (min-width: $screen-lg-min) {
    height: 520px;
    display: flex;
  }

  .gallery-top {
    @media screen and (min-width: $screen-lg-min) {
      width: calc(100% - 240px);
    }
  }
}

.workBadge {
  background-color: $gray;
  padding: 25px 20px;
  display: flex;
  margin-bottom: 50px;
  position: relative;
  .btn {
    margin-top: 10px;
    margin-right: 15px;
  }
  &-left {
    width: 55px;
  }
  &-right {
    width: calc(100% - 55px);
  }
  &-title {
    font-weight: 700;
    font-size: 16px;
    color: $base-color-dark;
    text-transform: uppercase;
  }
  &-deadline {
    color: $base-color-main;
    margin-bottom: 5px;
  }

  &--long {
    .col__xl-6,
    .btn--inline {
      margin-left: -55px;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 0;
      }
    }
    @media screen and (min-width: $screen-lg-min) {
      &:after {
        content: '';
        top: 0;
        bottom: 0;
        position: absolute;
        left: 100%;
        width: 150%;
        background-color: $gray;
      }
    }
  }
}

.titleIcons {

}

.thumbs {
  &-item {
    color: $base-color-dark;
    min-width: 170px;
    margin-right: 15px;
    margin-left: auto;
    transition: width .5s;
    position: relative;
    @media screen and (min-width: $screen-lg-min) {
      width: 100%;
      min-width: inherit;
      margin-right: 0;
    }
    &__video {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-self: center;
        z-index: 9;
        background: url("../images/badge/play.svg") no-repeat center;
      }
    }
    p {
      margin-top: 10px;
    }

    &--finished {
      .thumbs-item__video:after {
        background: url("../images/badge/finish.svg") no-repeat center, rgba(#82A9D2, .79);
      }
    }
    &--ongoing {
      min-width: 140px;
      @media screen and (min-width: $screen-lg-min) {
        width: 85%;
      }
      span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 6px;
        width: 100%;
        background-color: $base-color-dark;
        span {
          height: 100%;
          background-color: $base-color-main;
        }
      }
    }
  }
}

.webinar {
  position: relative;
  height: 100%;

  video {
    object-fit: cover;
  }

  &-play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 9;
  }
}
