.documents {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  @media screen and (min-width: $screen-xl-min) {
    display: block;
  }

  &-item {
    background: #EEF4F7;
    padding: 25px 25px 25px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (min-width: $screen-md-min) {
      width: 49%;
    }

    @media screen and (min-width: $screen-xl-min) {
      flex-wrap: nowrap;
      width: 100%;
    }

    &-ico {
      width: 65px;
      margin-right: 20px;
      padding-left: 10px;
    }
    &-title {
      width: calc(100% - 90px);

      @media screen and (min-width: $screen-xl-min) {
        width: auto;
        margin-right: 10px;
      }

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 146.95%;
        color: #009CDC;
      }

      .text__lg {
        color: #002A5C;
        font-size: 14px;
      }
    }
    &-end {
      margin-left: auto;
      width: 100%;
      @media screen and (min-width: $screen-xl-min) {
        width: auto;
      }

      .close-ico {
        position: absolute;
        top: 13px;
        right: 17px;
        cursor: pointer;
      }
    }

    &--main {
      .documents-item-ico {
        padding-left: 0;
      }

      .text__lg {
        font-size: 18px;
        line-height: 146.95%;
      }
    }
  }
}

.subscription {
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    flex-wrap: wrap;
    @media screen and (min-width: $screen-md-min) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &-title {
      width: 100%;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        max-width: 240px;
        width: auto;
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-xl-min) {
        max-width: 20%;
        width: 100%;
      }

      p {
        font-weight: bold;
        font-size: 18px;
        line-height: 158.45%;
        color: #002A5C;
        margin-bottom: 0;
      }
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 146.95%;
        color: rgba(0, 42, 92, 0.53);

        &.error {
          color: #DC4E41;
        }
        &.success {
          color: #1E9370;
        }
      }
    }
    &-input {
      width: 100%;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        //margin-left: auto;
        //margin-right: 15px;
        width: 50%;
        margin-bottom: 0;
      }
    }
    &-end {
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: 270px;
      }
    }

  }
}

.page-documents {
  .content {
    margin-top: 30px;
  }

  .tabs {
    &__caption {
      //align-items: center;
      display: block;
      @media screen and (min-width: $screen-md-min) {
        display: flex;
      }
      li {
        font-weight: bold;
        font-size: 22px;
        line-height: 168.45%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #B3C2D5;
        display: flex;
        align-items: center;
        padding: 15px 10px;
        text-align: left;
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
          width: auto;
        }
        @media screen and (min-width: $screen-xl-min) {
          justify-content: center;
        }

        &.active {
          color: #002A5C;
        }
      }
    }

    &__content {
      padding-top: 55px;
    }
  }
}
