.helper {
  &-btns {
    margin-bottom: 60px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 65px;
      font-weight: 600;
      color: $base-color-dark;
      background-color: $gray;
      text-decoration: none;
      transition: background-color .5s;
      text-align: center;
      &:hover {
        background-color: darken($gray, 5%);
      }
    }
  }

  .messages {
    max-width: inherit;
    @media screen and (min-width: $screen-md-min) {
      width: 100%;
    }
  }
}
