.instruction {
  .image-block {
    text-align: center;
    margin-top: 40px;
  }
  .accordion {
    &-el {
      margin-bottom: 7px;
      background: none;
      &:before {
        content: '';
        margin: 0;
      }
      border-bottom: 1px solid #82A9D2;
      &.active {
        .accordion-header:before {
          background: url("../images/icons/minus-1.svg") no-repeat center / 100%;
        }
        .accordion-body {
          display: block;
        }
      }
    }
    &-header {
      border: none;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 20px;
      line-height: 146.95%;
      color: $base-color-dark;
      padding: 28px 28px 28px 45px;
      position: relative;
      text-transform: initial;
      background: none;
      transition: color 0.5s;

      &:hover {
        color: $base-color-main;
      }
      &:before {
        content: '';
        height: 20px;
        width: 20px;
        display: block;
        position: absolute;
        left: 0px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url("../images/icons/plus-1.svg") no-repeat center / 100%;
      }
    }
    &-body {
      padding: 30px 28px 45px 45px;
      @media screen and (min-width: $screen-md-min) {
        //padding-left: 45px;
      }
    }
  }
}
