.links {
  &__el {
    display: flex;
    margin-bottom: 55px;
    text-decoration: none;
    .progress-counter {
      min-width: 70px;
    }
    &-body {
      p {
        margin-bottom: 20px;
        color: $base-color-dark;
      }
      .progress-title {
        padding-top: 0;
        @media screen and (min-width: $screen-md-min) {
          padding-top: 13px;
        }
      }
    }
    &-link {
      font-weight: 700;
      font-size: 15px;
      margin-bottom: 10px;
      color: $base-color-main;
      text-decoration: underline;
    }
    &-footer {
      font-weight: 700;
      font-size: 15px;
      color: $base-color-dark;
      position: relative;
      padding-left: 30px;
      img {
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }
}
