.profile {
  &-sidebar {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media screen and (min-width: $screen-md-min) {
      text-align: left;
      width: 240px;
      margin-left: 0;
      margin-right: 0;
    }
    .btn {
      max-width: 170px;
      min-width: inherit;
      width: 100%;
      height: 39px;
    }
  }
  &-ava {
    margin-bottom: 20px;

    img {
      border-radius: 200px;
      width: 170px;
      height: 170px;
      object-fit: cover;
    }
  }

  &-content {
    @media screen and (min-width: $screen-md-min) {
      width: calc(100% - 240px);
    }
    h5 {
      font-size: 17px;
      margin-bottom: 20px;
    }

    hr {
      height: 1px;
      border: none;
      border-bottom: 1px solid #C4CEDA;
      margin: 15px 0 5px;
    }
  }

  &-btn {
    .row {
      margin-left: -15px;
      margin-right: -15px;
    }
    .col {
      padding-left: 15px;
      padding-right: 15px;
    }
    .col,
    .btn {
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
