.page-registration {
  .titleRegistration {
    text-align: center;

    &.text--left {
      text-align: left;
    }

    &--lg {
      margin-bottom: 50px;
    }

    h1 {
      font-weight: 700;
      font-size: 33px;
      line-height: 168.45%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #002A5C;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 146.95%;
      color: #002A5C;
      margin-bottom: 40px;
    }
  }

  .decorLine {
    border: 0;
    border-bottom: 1px solid #000;
    margin: 40px 0 30px;
  }

  .socialBtn {
    text-align: center;

    .btn {
      max-width: 270px;
      height: 34px;
      width: 100%;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.015em;
      text-transform: uppercase;

      i {
        font-size: 22px;
      }

      &:hover {
        color: white;
        i {
          color: white;
        }
      }
    }

    &-fb {
      .btn {
        border-color: #3B5998;
        color: #3B5998;
        i {
          color: #3B5998;
        }
      }
    }

    &-vk {
      margin-top: 15px;
      .btn {
        border-color: #4C75A3;
        color: #4C75A3;
        i {
          color: #4C75A3;
          font-size: 33px;
        }
      }
    }
  }

  .smallLink {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    color: #002A5C;
    margin-bottom: 30px;
  }

  .content-sm {
    max-width: 600px;
    margin: auto;

    form {
      max-width: 460px;
      margin: auto;

      .btn {
        max-width: 270px;
        width: 100%;
      }

      .control-container {
        left: -40px;
        position: relative;
      }
    }
  }

  .content-xs {
    max-width: 540px;
    margin: auto;

    form {
      max-width: 460px;
      margin: auto;

      .btn {
        max-width: 270px;
        width: 100%;
      }

      .control-container {
        left: -40px;
        position: relative;
      }
    }
  }
}

.formRegistration {
  max-width: 630px !important;
  width: 100%;

  .checkbox {
    left: 190px;
    position: relative;
    max-width: 490px;

    label {
      position: relative;
    }

    input {
      &::-moz-placeholder { color: #ABBBCC; }
      &:-ms-input-placeholder { color: #ABBBCC; }
      &::-webkit-input-placeholder { color: #ABBBCC; }

    }

    input[type="checkbox"]:checked + label:after {
      background: $input-bg;
    }

    input[type="checkbox"]:checked + label:before {
      content: '';
      background: #009CDC;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      display: block;
      position: absolute;
      left: 5px;
      top: 5px;
      z-index: 10;
    }
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    //background: url("../images/icons/date.svg") no-repeat center right / 21px auto;
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 1;
  }

  input[type="date"] {
    background: url("../images/icons/date.svg") no-repeat center right 16px / 21px auto;
    z-index: 0;
  }

  .control-container {
    left: -200px;

    label {
      width: 260px;
      font-size: 15px;
      margin-right: 0;

      span {
        color: #DC4E41;
      }
    }
  }
}
