.page-window {
  .swiper-pagination {

  }
  .gallery-thumbs {
    background-color: white;
    height: 160px;
    @media screen and (min-width: $screen-lg-min) {
      height: 670px;
      padding-left: 30px;
    }
    .thumbs-item {
      margin-top: 20px;
      @media screen and (min-width: $screen-lg-min) {
        margin-top: 0;
        + .thumbs-item {
          margin-top: 20px;
        }
      }
    }
  }
  .mCSB_inside > .mCSB_container {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.theory {
  @media screen and (min-width: $screen-lg-min) {
    height: 670px;
  }
  &-slide {
    background: $gray;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    @media screen and (min-width: $screen-md-min) {
      padding: 35px;
    }
    h2 {
      font-weight: 700;
      margin-bottom: 30px;
      @media screen and (max-width: $screen-sm-max) {
        font-size: 20px;
      }
    }
    p + h3 {
      margin-top: 50px;
    }
    h3 {
      margin-bottom: 30px;
    }
  }
  &-img {
    margin: 40px 0;
    text-align: center;

    img {
      mix-blend-mode: multiply;
    }
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  position: static;
  &-bullet {
    opacity: 1;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: white;
    border: 2px solid $base-color-main;
    margin: 0 4px;
    &-active {
      background-color: $base-color-main;
    }
  }
}
