.worksheet {
  background: $gray;
  padding: 20px;
  @media screen and (min-width: $screen-md-min) {
    padding: 45px 100px 30px 30px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 45px 35px 30px;
  }
  .testBlock {
    &-body {
      textarea {
        font-size: 13px;
        @include placeholder(#99AABE);
        border-color: $gray-darken;
        border-radius: 11px;
        padding: 9px 13px;
      }
      .form__group {
        margin-bottom: 30px;
      }
      h4 {
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 30px;
      }
      hr {
        border: none;
        border-bottom: 1px solid #CBD5DF;
        margin: 15px 0 35px;
      }
    }
    &-form {

    }
  }
}
