

.l-container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .l-container {
    width: 85%; }
}

@media (min-width: 576px) {
  .l-container {
    max-width: 580px;
  }
}
@media (min-width: 768px) {
  .l-container {
    max-width: 760px;
  }
}
@media (min-width: 992px) {
  .l-container {
    max-width: 1000px;
  }
}
@media (min-width: 1240px) {
  .l-container {
    max-width: 1240px;
  }
}


.flex-wrap {
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.l-footer {
  background: #000000;
  color: #ffffff;
  position: relative;
  z-index: 99;
  font-family: "Inter", sans-serif;

  li {
    &:before {
      display: none;
    }
  }
}
.l-footer a {
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.3s; }
.l-footer a:hover {
  opacity: 0.5; }

.l-footer__container--1 {
  padding-top: 23px;
  padding-bottom: 30px; }
@media (min-width: 992px) {
  .l-footer__container--1 {
    padding-top: 34px;
    padding-bottom: 34px; } }

.l-footer__container--2 {
  padding-top: 20px;
  padding-bottom: 30px; }
@media (min-width: 992px) {
  .l-footer__container--2 {
    padding-top: 44px;
    padding-bottom: 50px; } }

.l-footer__container--3 {
  padding-top: 30px;
  padding-bottom: 52px; }
@media (min-width: 992px) {
  .l-footer__container--3 {
    padding-top: 30px;
    padding-bottom: 35px; } }

.l-footer__column {
  padding-top: 10px;
  padding-bottom: 10px; }
.l-footer__column--contacts {
  order: 1;
  margin-top: 40px; }
@media (min-width: 992px) {
  .l-footer__column--contacts {
    order: 0;
    margin-top: 0; } }

.l-footer__divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.2); }

.l-footer__socials {
  margin: 10px -8px -8px; }

.l-footer__socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  height: 40px;
  width: 72px; }
@media (min-width: 992px) {
  .l-footer__socials-item {
    width: 40px; } }

.l-footer__contacts-title {
  display: block;
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 7px; }

.l-footer__contacts-hint {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  margin: 0 0 41px; }

.l-footer__menu-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
.l-footer__menu-title svg {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
  width: 14px;
  height: 14px;
  fill: #ffffff; }
.is-open > .l-footer__menu-title svg {
  transform: rotate(225deg); }
.l-footer__menu-title[onclick] {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer; }
.l-footer__menu-title[onclick]:hover {
  opacity: 0.5; }

@media (max-width: 991px) {
  .l-footer__menu-slide {
    -webkit-transition: max-height 0.3s, opacity 0.3s;
    transition: max-height 0.3s, opacity 0.3s;
    overflow: hidden;
    max-height: 0;
    opacity: 0; }
  .is-open > .l-footer__menu-slide {
    max-height: 1000px;
    opacity: 1; } }

.l-footer__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px; }

.l-footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5; }


.c-footer-menu {
  margin: 0;
  padding: 0;
  list-style: none; }
.c-footer-menu li {
  margin-bottom: 16px;
  &:before {
    display: none;
  }
}
.c-footer-menu a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; }
.c-footer-submenu {
  margin: 0;
  padding: 0;
  list-style: none; }
.c-footer-submenu li {
  margin-bottom: 16px;
  max-width: 285px; }
@media (min-width: 992px) {
  .c-footer-submenu li {
    margin-bottom: 12px; } }
.c-footer-submenu a {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px; }


@media (min-width: 992px) {
  .lg-visible {
    display: block; }
}

.hidden {
  display: none;
}
