//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
/*
.footer {
  color: white;
  background-color: $base-color-darken;
  padding-top: 40px;
  //padding-left: 250px;
  position: relative;
  z-index: 99;
  transition: transform .5s;

  .container {
    @media screen and (min-width: $screen-lg-min) {
      padding-right: 200px;
      padding-left: 200px;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
  &-info {
    position: relative;
    padding-left: 30px;
    &__ico {
      position: absolute;
      left: 0;
      top: 0;
    }
    &__head {
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 2px solid rgba(0, 156, 220, 0.26);
    }
    &__desc {
      width: 100%;
    }
  }
  &-el {
    margin-bottom: 35px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 50px;
    }

    &--sm {
      .footer-info__head {
        border-bottom: none;
        text-transform: initial;
      }
    }
  }

  &.active {
    @media screen and (min-width: $screen-lg-min) {
      transform: translate3d(300px, 0, 0);
    }
  }
  &-nav {
    font-size: 12px;
    a {
      text-decoration: underline;
      display: inline-block;
      margin-bottom: 6px;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &-copy {
    color: $base-color-main;
  }
}

*/
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  li {
    margin-bottom: 0;
    &:before {
      display: none;
    }
  }
  li + li {
    margin-left: 10px;
  }
  a {
    &:hover {
      opacity: .7;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media screen and (min-width: $screen-lg-min) {
      width: 100%;
      margin-top: 10px;
    }
    i {
      color: $gray-darken;
      font-size: 28px;
    }
    a {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      + a {
        margin-left: 10px;
      }
    }
  }
}

