//
// Partials -> Header
// ------------------------------------


//
// Header
//
.header {
  display: flex;
  background-color: white;
  width: 100%;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  @extend .medium;
  //position: absolute;
  position: relative;
  height: 74px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 110;
  &-menu {
    height: 74px;
    width: 74px;
    display: flex;
    padding-left: 25px;
    align-items: center;

    order: -2;
    @media screen and (min-width: $screen-lg-min) {
      width: 250px;
      order: 0;
    }
  }
  nav {
    display: none;
  }
  &-logo {
    //padding-left: 10px;
    z-index: 1;
    margin: auto;
    @media screen and (min-width: $screen-md-min) {
      min-width: 100px;
    }
    @media screen and (min-width: $screen-xl-min) {
      margin: 0;
      margin-right: 230px;
    }

    img {
      width: 90px;
      min-width: 90px;
      @media screen and (min-width: $screen-md-min) {
        width: 120px;
        min-width: 120px;
      }
    }
  }
  &-search {
    width: 100%;
    max-width: 74px;
    height: 74px;
    overflow: hidden;
    position: relative;
    transition: max-width .5s;

    order: -1;
    @media screen and (min-width: $screen-lg-min) {
      max-width: 300px;
      order: 0;
    }
    &.active {
      position: static;
      //max-width: 666px;
      .search-mobile {
        display: none;
      }
    }
    .search {
      position: absolute;
      top: 0;
      @media screen and (min-width: $screen-lg-min) {
        position: relative;
      }
      &-mobile {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 74px;
        height: 74px;
        position: relative;
        z-index: 10;
        @media screen and (min-width: $screen-lg-min) {
          display: none;
        }
      }
    }
    button {
      position: absolute;
      left: 30px;
      top: 0;
      bottom: 0;
      margin: auto;
      border: none;
      background: none;
      //color: $base-color-main;
      color: #000;
      cursor: pointer;
      padding: 0;
    }
    input {
      color: $black;
      //background-color: $gray;
      height: 74px;
      width: 120%;
      border: none;
      color: #000;
      padding: 10px 20px 10px 60px;
      @include placeholder(#000);
      @media screen and (min-width: $screen-md-min) {
        width: 100%;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding: 10px 60px;
      }
    }
  }
  &-link {
    display: none;
    @media screen and (min-width: $screen-lg-min) {
      display: block;
    }
    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 168.45%;
      color: $black;
      text-decoration: none;
    }
  }
  &-logout {
    text-align: right;
    margin-left: auto;
    padding-right: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    @media screen and (min-width: $screen-md-min) {
      padding-right: 50px;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding-right: 100px;
    }
    a {
      text-decoration: none;
      color: $black;
      margin-left: 10px;
    }
  }
}


/* search
.c-header-search {
  position: relative;
  order: -1;
  width: 20px;
  @media screen and (min-width: $screen-md-min) {
    width: 255px;
  }
  @media screen and (min-width: $screen-lg-min) {
    order: 0;
  }
}
.c-header-search--wide {
  width: 100%; }
.c-header-search__submit {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  outline: none;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  margin-top: -6px;
  background: url(../images/loop.svg) 50% 50% no-repeat;
  background-size: contain;
  cursor: pointer;
  @media screen and (min-width: $screen-md-min) {
    width: 20px;
    height: 20px;
    margin-top: -10px;
  }
}
.c-header-search__submit:focus {
  outline: none; }
.c-header-search__submit:focus {
  outline: none; }
.c-header-search__input {
  border: 0;
  padding: 5px 15px 5px 30px;
  margin: 0;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000; }
.c-header-search__x {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  outline: none;
  text-decoration: none;
  overflow: hidden;
  text-indent: -1000em;
  text-align: left;
  cursor: pointer;
  position: absolute;
  right: 0;
  background: url(../images/x.svg) 50% 50% no-repeat;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  visibility: hidden; }
.c-header-search__x:focus {
  outline: none; }
.has-value .c-header-search__x {
  visibility: visible; }
.c-header-search__border {
  position: absolute;
  bottom: 0;
  height: 1px;
  background: #000000;
  width: 0;
  opacity: 0;
  transition: width 0.3s, opacity 0.3s; }
:focus + .c-header-search__border,
.has-value .c-header-search__border {
  width: 100%;
  opacity: 1; }

.c-header-search__input::-webkit-input-placeholder {
  text-indent: -10em;
  color: white;
  @media screen and (min-width: $screen-lg-min) {
    color: #000;
    text-indent: 0;
    transition: text-indent 0.3s;
  }
}

.c-header-search__input:-moz-placeholder {
  text-indent: -10em;
  color: white;
  @media screen and (min-width: $screen-lg-min) {
    color: #000;
    text-indent: 0;
    transition: text-indent 0.3s;
  }
}

.c-header-search__input::-moz-placeholder {
  text-indent: -10em;
  color: white;
  @media screen and (min-width: $screen-lg-min) {
    color: #000;
    text-indent: 0;
    transition: text-indent 0.3s;
  }
}

.c-header-search__input:-ms-input-placeholder {
  text-indent: -10em;
  color: white;
  @media screen and (min-width: $screen-lg-min) {
    color: #000;
    text-indent: 0;
    transition: text-indent 0.3s;
  }
}
.c-header-search__input:focus {
  outline: none;
}
.c-header-search__input:focus::-webkit-input-placeholder {
  text-indent: -10em; }
.c-header-search__input:focus:-moz-placeholder {
  text-indent: -10em; }
.c-header-search__input:focus::-moz-placeholder {
  text-indent: -10em; }
.c-header-search__input:focus:-ms-input-placeholder {
  text-indent: -10em; }
*/

.c-header-menu__btn {
  -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #000000;
  border-radius: 24px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 18px 8px 8px; }
@media (min-width: 992px) {
  .c-header-menu__btn {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 42px 10px 20px; } }

.c-header-menu__btn-arr {
  -webkit-transition: transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s;
  position: absolute;
  top: 10px;
  right: 6px;
  width: 12px;
  height: 12px;
  fill: #000000; }
@media (min-width: 992px) {
  .c-header-menu__btn-arr {
    position: absolute;
    top: 18px;
    right: 18px;
    //width: 20px;
    //height: 20px;
  }
}




.c-header-menu__drop {
  margin: 0;
  padding: 0;
  list-style: none;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  padding: 0 0 24px;
  ul > li::before, ol > li::before {
    display: none;
  }
}
.c-header-menu__drop.is-open {
  pointer-events: auto;
  visibility: visible;
  opacity: 1; }

.c-header-menu__wrap-border {
  margin: 0 24px;
  display: none; }
@media (min-width: 992px) {
  .c-header-menu__wrap-border {
    display: block; } }

.c-header-menu__border {
  height: 1px;
  background: #000000;
  width: 0;
  margin: 0 auto;
  transition: width 0.3s ease; }

.is-open .c-header-menu__btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff; }

.is-open .c-header-menu__btn-arr {
  transform: rotate(180deg);
  fill: #ffffff; }

.is-open .c-header-menu__drop {
  display: block; }

.is-open .c-header-menu__border {
  width: 100%; }

@media (min-width: 992px) {
  .is-open .c-header-menu__btn {
    background-color: #1D91D3;
    border-color: #1D91D3; } }

.c-header-menu__head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 30px 0 20px; }
@media (min-width: 992px) {
  .c-header-menu__head {
    margin: 40px 0 20px; } }

.c-header-menu__title {
  font-style: normal;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px; }
@media (min-width: 992px) {
  .c-header-menu__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 46px; } }

.c-header-menu__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 30px 0 20px; }
@media (min-width: 992px) {
  .c-header-menu__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 58px 0 24px; } }

.c-header-menu__list {
  list-style: none;
  padding: 0; }

.c-header-menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 10px;
  border: 1px solid #000000;
  color: #000000;
  background-color: #ffffff;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  text-decoration: none;
  overflow: hidden;
  word-break: break-word;
  min-height: 0;
  padding: 6px 10px;
  margin: 0 0 16px; }
.c-header-menu__item:hover {
  color: #ffffff;
  border-color: #1D91D3;
  background-color: #1D91D3; }
@media (min-width: 992px) {
  .c-header-menu__item {
    min-height: 110px;
    padding: 20px;
    margin: 0 0 20px; } }

.c-header-menu__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px; }
@media (min-width: 992px) {
  .c-header-menu__item-text {
    font-size: 18px;
    line-height: 26px; } }

.c-header-menu__item-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 26px;
  right: 26px;
  display: none;
  fill: #000000;
  transition: fill 0.3s; }
:hover > .c-header-menu__item-icon {
  fill: #ffffff; }
@media (min-width: 992px) {
  .c-header-menu__item-icon {
    display: block; } }

.c-header-menu__all {
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}
.c-header-menu__all svg {
  width: 23px;
  height: 14px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle; }
@media (min-width: 992px) {
  .c-header-menu__all {
    font-size: 18px; } }

.c-header-menu__close {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: 60px 0 0 -30px;
  cursor: pointer; }

.header {
  .l-columns {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
  }
  .c-header-menu {
    margin: auto;
    display: none;
    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
    @media screen and (min-width: $screen-xl-min) {
      margin-right: 80px;
      margin-left: 0;
    }
  }

  .l-column {
    padding: 0 10px;
    width: 100%;
  }

  .cols-auto .l-column {
    width: auto;
  }

  @media (min-width: 992px) {
    .l-container {
      max-width: 1000px;
    }
    .lg-cols-2 .l-column {
      width: 25%;
    }
  }
  @media (min-width: 1240px) {
    .l-container {
      max-width: 1240px;
    }
    .xl-cols-5 .l-column {
      width: 20%;
    }
  }

}


.l-burger {
  width: 24px;
  height: 16px;
  position: relative;
  transform: rotate(0);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 100
}

.l-burger__dash {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  transition: .25s ease-in-out
}

.l-burger__dash--1 {
  top: 0
}

.l-burger__dash--2, .l-burger__dash--3 {
  top: 8px
}

.l-burger__dash--4 {
  top: 16px
}

.is-panel-opened .l-burger__dash--1 {
  top: 8px;
  width: 0%;
  left: 50%
}

.is-panel-opened .l-burger__dash--2 {
  transform: rotate(45deg)
}

.is-panel-opened .l-burger__dash--3 {
  transform: rotate(-45deg)
}

.is-panel-opened .l-burger__dash--4 {
  top: 8px;
  width: 0;
  left: 50%
}


.l-panel {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 485px;
  padding-left: 72px;
  height: 100%;
  transform: translate(-100%, 0);
  transition: transform .3s;
  transition-delay: 0s;
  overflow-y: auto;
  z-index: 50;
  font-family: Inter, sans-serif;
  @media screen and (min-width: $screen-md-min) {
    width: 90%;
  }

  &:after {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    left: 72px;
    border-left: 1px solid #EEEEEE;
  }

  .aside-nav {
    border-top: 1px solid #AAAAAA;
    margin: 20px 20px 0;
    padding: 20px;

    @media screen and (min-width: $screen-lg-min) {
      display: none;
    }
  }

  .c-panel-title {
    padding: 25px 25px 0;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    color: #242E39;
    cursor: pointer;
    @media screen and (min-width: $screen-lg-min) {
      //display: none;
    }
    &:after {
      content: '';
      width: 19px;
      height: 10px;
      vertical-align: middle;
      display: inline-block;
      position: absolute;
      right: 30px;
      top: 30px;
      transition: transform .5s;
      background: url("../images/icons/arr-down.svg") no-repeat center;
    }
    &.active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}
.is-panel-opened .l-panel {
  transform: none;
  transition-delay: .3s
}
.is-panel-opened {
  .header-menu {
    position: fixed;
    z-index: 99;
  }
}

.l-panel-safe {
  position: fixed;
  left: 0;
  top: 0;
  width: 72px;
  height: 100%;
  background: #fff;
  z-index: 60;
  opacity: 0;
  transition: opacity .3s ease .3s;
  pointer-events: none;
  border-right: 1px solid rgba(119, 119, 119, .1)
}

.is-panel-opened .l-panel-safe {
  opacity: 1;
  transition: opacity .3s ease 0s;
  pointer-events: auto
}

@media (max-width: 991px) {
  .l-panel-safe {
    display: none
  }
}

.l-panel-overlay {
  position: fixed;
  pointer-events: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  transition: opacity .3s;
  transition-delay: .3s;
  z-index: 40
}

.is-panel-opened .l-panel-overlay {
  opacity: .2;
  pointer-events: auto;
  transition-delay: 0s
}

@media (max-width: 991px) {
  .l-panel-overlay {
    display: none
  }
}
