//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

body {
  line-height: normal;
  font-weight: normal;
  color: #333;
}

//
// Main container
//
.main {
  //padding-top: 74px;
  //min-height: 690px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  //min-height: 900px;
  @media screen and (min-width: $screen-lg-min) {
    //padding-left: 250px;
  }
}

main {
  transition: transform .5s;
  width: 100%;
  @media screen and (min-width: $screen-lg-min) {
    padding: 0 0 40px 40px;
    //min-height: calc(100vh - 552px);
    width: calc(100% - 250px);
  }
  @media screen and (min-width: $screen-xl-min) {
    //min-height: calc(100vh - 482px);
  }
  &.active {
    @media screen and (min-width: $screen-lg-min) {
      transform: translate3d(300px, 0, 0);
    }
  }

  section {
    &:nth-child(2) {
      @media screen and (min-width: $screen-md-min) {
        padding-top: 30px;
      }
    }
  }
}

.page-main {
  min-height: 800px;
}


.l-overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); }
.l-overlay.is-fast {
  display: none; }
.l-overlay.is-fast.is-open {
  display: block; }
.l-overlay.is-transition {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none; }
.l-overlay.is-transition.is-open {
  opacity: 1;
  pointer-events: auto; }
.l-overlay.is-delayed {
  transition-delay: 0.3s; }
.l-overlay.is-delayed.is-open {
  transition-delay: 0s; }
.l-overlay.is-fixed {
  position: fixed; }


.empty-block {
  margin: 20px 0;
  &__course {
    display: flex;
    align-items: center;
    width: 230px;
  }

  &-ico {
    width: 60px;
  }
  &-text {
    font-family: Montserrat;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-left: 18px;
    p {
      font-weight: bold;
      font-size: 20px;
      line-height: 146.45%;
      color: #009CDC;
      margin: 0;
    }
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 146.45%;
      color: #002A5C;
    }
  }
  &-plus {
    width: 25px;
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: 2px;
  }
}


.infoBlock {
  display: flex;
  align-items: center;
  margin: 50px 0;

  p + a {
    margin-left: 20px;
  }

  p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 146.95%;
    color: #002A5C;
  }

  a {
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    min-width: 185px;
    text-transform: none;
    justify-content: space-between;
  }

  > * {
    margin: 0;
  }
}
