extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('advertisement.html', menu)

block content
  main.page-advertisement
    include ../components/pageHeader
    section.container.content
      h2.subTitle Объявления
      a.btn.btn--primary(href='#')
        span Добавить объявление
        i.icon-right
      .advertisement
        - for (let x = 1; x < 4; x++)
          .advertisement-el
            .advertisement-el__date 03.07.2019 11:00
            .advertisement-el__title: h3 Внимание! Лекция переносится
            .advertisement-el__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
              a.showmore.showmore--js(href='#')
                span Показать
                +img('icons/showmore.svg')


block footer
  include ../partials/_footer.pug
