extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('cabinet.html', menu)

block content
  main.page-cabinet
    section.pageHeader
      .container
        h1 Корпоративный кабинет
    section.container.content
      .tabs
        ul.tabs__caption
          li.active ППК
          li КУРСЫ
          li Завершенные
        .tabs__content.active
          .doubleTitle
            .doubleTitle-ico: +img('icons/lists.svg')
            .doubleTitle-name
              h2 Технологии и этапы проетирования наноразмерных интегральных схем
              p.text__lg.text--primary Сроки предоствления доступа: 02.07.2019 - 08.09.2019
          .row.between__xs
            .col.col__xl-8.col__xs-12
              .row
                .col.col__md-7.col__xs-12
                  .form__group: +fieldInput('text', 'email', 'E-mail', true, 'success')
                .col.col__md-5.col__xs-12
                - for (let x = 1; x < 4; x++)
                  .col.col__md-7.col__xs-12
                    .form__group: +fieldInput('text', 'emailUser-'+x, 'Укажите e-mail пользователя', true)
                  .col.col__md-5.col__xs-12
                    .form__group: a.btn.btn--primary.btn--full(href='#') Предоставить доступ
            .col.col__xl-3.col__xs-12
              .cabinet-desk
                a(href='#')
                  i.icon-document
                  span Договор оферты
                a(href='#')
                  i.icon-document
                  span Счет
                a(href='#')
                  i.icon-document
                  span Акт
        .tabs__content
          .doubleTitle
            .doubleTitle-ico: +img('icons/lists.svg')
            .doubleTitle-name
              h2 Технологии и этапы проетирования наноразмерных интегральных схем
              p.text__lg.text--primary Сроки предоствления доступа: 02.07.2019 - 08.09.2019
          .row.between__xs
            .col.col__xl-8.col__xs-12
              .row
                .col.col__md-7.col__xs-12
                  .form__group: +fieldInput('text', 'email', 'E-mail', true, 'error')
                .col.col__md-5.col__xs-12
                - for (let x = 1; x < 4; x++)
                  .col.col__md-7.col__xs-12
                    .form__group: +fieldInput('text', 'emailUser-' + x, 'Укажите e-mail пользователя', true)
                  .col.col__md-5.col__xs-12
                    .form__group: a.btn.btn--primary.btn--full(href='#') Предоставить доступ
            .col.col__xl-3.col__xs-12
              .cabinet-desk
                a(href='#')
                  i.icon-document
                  span Договор оферты
                a(href='#')
                  i.icon-document
                  span Счет
                a(href='#')
                  i.icon-document
                  span Акт
        .tabs__content
          .courses
            - for (let x = 1; x < 5; x++)
              .courses-el
                .courses-el__title
                  .courses-el__ico: +img('icons/award.svg')
                  h3 Технологии и этапы проетирования наноразмерных интегральных схем Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                .courses-el__info
                  .estimates
                    .estimates-head Получено
                    .estimates-body #[span 10]/12 #[small баллов]
                  .social
                    .social-head ПОДЕЛИТЬСЯ В СОЦИАЛЬНЫХ СЕТЯХ
                    .social-list
                      a(href='#'): i.icon-facebook
                      a(href='#'): i.icon-vk
                      a(href='#'): i.icon-insta
                .courses-el__dates
                  .dates-el
                    p Сроки предоствления доступа
                    b.text--primary 23 Сентября - 15 Ноября
                  .dates-el
                    p Завершен
                    b.text--primary 23 ноября 2020


block footer
  include ../partials/_footer.pug
