extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('content.html', userMenu)

block content
  main.page-content
    section.pageHeader
      .container.text--uppercase
        h1 Инструкции по личному кабинету
    section.container.content
      h2.subTitle Содержание
      .contents
        ol.accordion
          li.accordion-el
            .accordion-link: a(href='#') Аннотация
          li.accordion-el
            .accordion-header «Мои программы»
            .accordion-body
              ol
                li: a(href='#') Вкладка «Назначенные программы»
                li: a(href='#') Вкладка «Назначенные программы»
          li.accordion-el
            .accordion-header «Мои курсы»
            .accordion-body
              ol
                li: a(href='#') Вкладка «Назначенные программы»
                li: a(href='#') Вкладка «Назначенные программы»
          li.accordion-el
            .accordion-header «Мероприятия»
            .accordion-body
              ol
                li: a(href='#') Вкладка «Назначенные программы»
                li: a(href='#') Вкладка «Назначенные программы»
          li.accordion-el
            .accordion-link: a(href='#') «Сертификат»
          li.accordion-el
            .accordion-link: a(href='#') «Открытые ресурсы»
          li.accordion-el
            .accordion-header «Профиль пользователя»
            .accordion-body
              ol
                li: a(href='#') Вкладка «Назначенные программы»
                li: a(href='#') Вкладка «Назначенные программы»
          li.accordion-el
            .accordion-link: a(href='#') «Анкетирование»
          li.accordion-el
            .accordion-header «Помощь»
            .accordion-body
              ol
                li: a(href='#') Вкладка «Назначенные программы»
                li: a(href='#') Вкладка «Назначенные программы»


block footer
  include ../partials/_footer.pug
