extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('search.html', userMenu)

block content
  main.page-search
    include ../components/_pageHeaderBTN
    section.container.content
      h2.subTitle Поиск по материалам курса
      .col__xl-11.search
        form.glossary-input(method='POST', action='php')
          input(type='search', placeholder='Я ищу')
          button(type='submit'): +img('icons/search.svg')
        .search-value По запросу "#[b структурированная вода]" найдено 23 совпадения
        .search-list
          - for (let x = 1; x < 6; x++)
            a.search-list__el(href='#')
              .search-list__el-title 1. Водные смеси / Измеряем свойства воды
              .search-list__el-desc В основе лежат эффекты, возникающие при взаимодействии пучка ускоренных ионов с подложкой, в качестве которой могут выступать пластина кремния, слои оксида или нитрида кремния, #[b структурированная вода], а также тонкие металлические пленки (Ni, Mo, Al, Au). Ионно-лучевая литография позволяет получать изображение топологического слоя на поверхности подложки как без шаблона, так и без резистивного слоя. В этом случае изображение формируется непосредственной микрогравировкой, то есть вычерчиванием ионным лучом рисунка на поверхности подложки.
              .search-list__el-btn
                +img('icons/pagin-next-bl.svg')
        .col__xl-10.centered-block
          include ../components/_paginator


block footer
  include ../partials/_footer.pug
