extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('test.html', userMenu)

block content
  main.page-course
    include ../components/_pageHeaderBTN
    section.container
      .progress.progress--sm.col__xl-10.col__lg-11
        .progress-head
          .progress-head__el Задание
          .progress-head__el Состояние
          .progress-head__el Баллы
        .progress-body
          .progress-body__el
            .progress-status.progress-status--finished
              .progress-counter: span 1
            .progress-desc.progress-status--finished
              a.progress-title(href='#') Введение
              .progress-state: i.checked.checked--finished
              .progress-estimate 5
          .progress-body__el
            .progress-status.progress-status--finished
              .progress-counter: span 2
            .progress-desc.progress-status--finished
              a.progress-title(href='#') 1. Структура и свойства воды
              .progress-state: i.checked.checked--finished
              .progress-estimate 5
          .progress-body__el
            .progress-status
              .progress-counter: span 3
            .progress-desc
              a.progress-title(href='#') 2. Водные смеси
              .progress-state: a.btn.btn--primary(href='#') Продолжить
              .progress-estimate 5
          .progress-body__el
            .progress-status.progress-status--disabled
              .progress-counter: span 4
            .progress-desc.progress-status--disabled
              .progress-title 3. Нормирование качества воды
              .progress-state
              .progress-estimate
          .progress-body__el
            .progress-status.progress-status--disabled
              .progress-counter: span 5
            .progress-desc.progress-status--disabled
              .progress-title 4. Фильтрационная очистка воды
              .progress-state
              .progress-estimate
          .progress-body__el
            .progress-status.progress-status--disabled
              .progress-counter: span: i.icon-menu
            .progress-desc.progress-status--disabled
              .progress-title Тестирование
              .progress-state
              .progress-estimate
          .progress-body__el
            .progress-status.progress-status--disabled
              .progress-counter: span: i.icon-award
            .progress-desc.progress-status--disabled
              .progress-title Сертификат
              .progress-state
              .progress-estimate


block footer
  include ../partials/_footer.pug
