extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('course.html', menu)

block content
  main.page-course
    section.pageHeader.pageHeader--sm
      .container
        .pagination
          a.pagination__item(href='#')
            +img('icons/pagin-prev.svg')
            span Предыдущий модуль
          a.pagination__item(href='#')
            +img('icons/pagin-next.svg')
            span Следующий модуль
        .title
          .num 3
          h1
            p Развитие культуры управления рисками на предприятии
            small Риск-ориентированное управление. Подготовка к сертификации
    section.container
      .video-course
        .swiper-container.gallery-top
          .swiper-wrapper
            - for (let x = 1; x < 7; x++)
              .swiper-slide
                .webinar
                  .webinar-play.webinar-play--js: +img('icons/play.svg')
                  video.video(src="https://player.vimeo.com/external/447156804.hd.mp4?s=bfcf7ab611645e536a28047381071dfc62c41750&amp;profile_id=175", controls)
        .gallery-thumbs.scroll-container
          .thumbs-item.thumbs-item--finished(data-slide='0')
            .thumbs-item__video: +img('video.jpg')
            p 3.2. Заголовок темы в две строчки и обре...
          .thumbs-item.thumbs-item--ongoing(data-slide='1')
            .thumbs-item__video
              +img('video.jpg')
              span: span(style='width: 75%')
            p 3.2.1. Заголовок темы в две строчки
          .thumbs-item(data-slide='2')
            .thumbs-item__video: +img('video.jpg')
            p 3.3. Заголовок темы в две строчки и обре...
          .thumbs-item(data-slide='3')
            .thumbs-item__video: +img('video.jpg')
            p 3.3. Заголовок темы в две строчки и обре...
          .thumbs-item(data-slide='4')
            .thumbs-item__video: +img('video.jpg')
            p 3.3. Заголовок темы в две строчки и обре...
          .thumbs-item(data-slide='5')
            .thumbs-item__video: +img('video.jpg')
            p 3.3. Заголовок темы в две строчки и обре..
      .col__xl-10
        h2 3.2. Заголовок темы в две строчки культуры управления рисками на предприятии
        h4 CRMP, CT31000, к.э.н., директор по управлению рисками ООО "УК "РОСНАНО". Вице-президент Гильдии инвестиционных и финансовых аналитиков. Руководитель направления АНО ДПО "ИСАР".
        p Более 15 лет теории и практики управления рисками, корпоративных финансов, финансового моделирования, бизнес-планирования, оценки бизнеса в России Автор научно-исследовательских семинаров "Управление рисками" в НИУ ВШЭ и РАНХиГС, "Финансовый риск-менеджмент" и "Риск-менеджмент в компаниях реального сектора" НИУ ВШЭ, курса по финансовому моделированию для стартапов Соавтор курса по риск-менеджменту для международной магистерской программы Big Data НИУ ВШЭ Член Комиссии по профессиональным квалификациям в области управления рисками и финансовыми сервисами при Совете по профессиональным квалификациям финансового рынка Опыт работы в таких компаниях, как ОАО "Аэрофлот-РА", ОАО "Ильюшин Финанс", Группа "Волга-Днепр", PricewaterhouseCoopers, ГК ИНТЕКО, ООО УК РОСНАНО.
      .row.row--sm
        .col.col__xl-4.col__lg-5.col__md-6.col__xs-12
          .workBadge
            .workBadge-left
              .workBadge-icon: +img('badge/task.svg')
            .workBadge-right
              .workBadge-title Практическое задание №1
              p Отличия РМ1 от РМ2.
              .workBadge-deadline Срок сдачи до 03.07.2019
              a.btn.btn--primary(href='#') Выполнить
        .col.col__xl-8.col__lg-7.col__xs-12
          .workBadge.workBadge--long
            .workBadge-left
              .workBadge-icon: +img('badge/video.svg')
            .workBadge-right
              .row.row--sm
                .col.col__xl-5.col__xs-12
                  .workBadge-title Вебинар №3
                  p Разбор третьего практического задания.
                .col.col__xl-6.col__xs-12
                  .workBadge-deadline 03.07.2019 11:00 - 13:00 MSK
                  p.text--gray В указанное время проведения будет доступна ссылка на вебинар.
              .btn--inline
                a.btn.btn--primary(href='#') Смотреть запись
                a.btn.btn--outlined(href='#')
                  i.icon-down
                  span Скачать презентацию
      .titleIcons.row.row--sm
        .col
          +img('badge/material.svg')
        .col.col__md-10.col__xs-9
          p.text__lg.text--success: b Дополнительные материалы ИСО
          a.btn.btn--outlined(href='#')
            i.icon-down
            span Скачать документ


block footer
  include ../partials/_footer.pug
