extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('dashboard.html', userMenu)

block content
  main.page-dash
    section.pageHeader
      .container
        h1.text--uppercase Личный кабинет
    section.background--light.dash
      .container
        .row.row--sm.middle__xs.dash-header
          .col.col__xl-7.col__lg-9.col__xs-12
            h2.dash-subtitle МОИ КУРСЫ И ПРОГРАММЫ
          .col.col__lg-3.col__xs-12
            .swiper-button
              .swiper-prev: +img('icons/slider-prev.svg')
              .swiper-next: +img('icons/slider-next.svg')
        .typicalSlider.swiper-container(data-slider='2', data-tab-slider='1')
          .swiper-wrapper
            - for (let x = 1; x < 4; x++)
              .swiper-slide
                .dashBlock
                  .doubleTitle
                    .doubleTitle-ico: +img('icons/lists.svg')
                    .doubleTitle-name
                      h4 Технологии и этапы проетирования #[span.br] наноразмерных интегральных схем
                      p.text--primary #[i.icon-tv] Электронный курс
                  .progressBar
                    .progressBar-el
                      .progressBar-el__name Осталось
                      .progressBar-el__bar
                        span(style='width: 70%')
                      .progressBar-el__time 13 дней
                    .progressBar-el
                      .progressBar-el__name Пройдено
                      .progressBar-el__bar
                        span(style='width: 53%')
                      .progressBar-el__time 53%
              .swiper-slide
                .dashBlock
                  .doubleTitle
                    .doubleTitle-ico: +img('icons/lists.svg')
                    .doubleTitle-name
                      h4 Стратегии коммерциализации НИОКР: #[span.br] оценка, сценарии, продвижение
                      p.text--primary #[i.icon-study] Повышение квалификации
                  .progressBar
                    .progressBar-el
                      .progressBar-el__name Осталось
                      .progressBar-el__bar
                        span(style='width: 70%')
                      .progressBar-el__time 13 дней
                    .progressBar-el
                      .progressBar-el__name Пройдено
                      .progressBar-el__bar
                        span(style='width: 53%')
                      .progressBar-el__time 53%
    section.dash
      .container
        .row.row--sm.middle__xs.between__xs.dash-header
          .col.col__xl-7.col__xs-12
            h2.dash-subtitle БЛИЖАЙШИЕ МЕРОПРИЯТИЯ
          .col.col__xl-3.col__md-4.col__xs-12.text__md--right.last__md
            a.btn.btn--outlined(href='#') Календарь
          .col.col__xl-2.col__lg-3.col__md-4.col__xs-12
            .swiper-button
              .swiper-prev: +img('icons/slider-prev.svg')
              .swiper-next: +img('icons/slider-next.svg')
        .typicalSlider.swiper-container(data-slider='3', data-tab-slider='2')
          .swiper-wrapper
            - for (let x = 1; x < 4; x++)
              .swiper-slide
                .newsEl
                  .newsEl__img: +img('dash-1.jpg')
                  a.newsEl__title(href='#') Управление отношениями с заинтересованными сторонами в проектах
                  .newsEl__info
                    .newsEl__info-el 26 апреля 2019
                    a.newsEl__info-el.tag(href='#') Семинар
              .swiper-slide
                .newsEl
                  .newsEl__img: +img('dash-2.jpg')
                  a.newsEl__title(href='#') Управление отношениями
                  .newsEl__info
                    .newsEl__info-el 26 апреля 2019
                    a.newsEl__info-el.tag(href='#') Лекция
              .swiper-slide
                .newsEl
                  .newsEl__img: +img('dash-3.jpg')
                  a.newsEl__title(href='#') Интернет вещей для бизнеса: инструкция по внедрению инструкция по внедрению инструкция по внедрению
                  .newsEl__info
                    .newsEl__info-el 26 апреля 2019
                    a.newsEl__info-el.tag(href='#') Вебинар


block footer
  include ../partials/_footer.pug
