extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('dashboard.html', userMenu)

block content
  main.page-dash
    section.pageHeader
      .container
        h1.text--uppercase Личный кабинет
    section.background--light.dash
      .container
        .row.row--sm.middle__xs.dash-header
          .col.col__xl-7.col__lg-9.col__xs-12
            h2.dash-subtitle МОИ КУРСЫ И ПРОГРАММЫ
          .col.col__lg-3.col__xs-12
            .swiper-button
              .swiper-prev: +img('icons/slider-prev.svg')
              .swiper-next: +img('icons/slider-next.svg')
        p.text--gray.text__lg К сожалению, у вас еще не  запланировано участие в каком-либо мероприятии.
        a.btn.btn--outlined(href='#') Перейти в Каталог
    section.dash
      .container
        .row.row--sm.middle__xs.dash-header
          .col.col__xl-7.col__lg-9.col__xs-12
            h2.dash-subtitle БЛИЖАЙШИЕ МЕРОПРИЯТИЯ
          .col.col__lg-3.col__xs-12
            .swiper-button
              .swiper-prev: +img('icons/slider-prev.svg')
              .swiper-next: +img('icons/slider-next.svg')
        p.text--gray.text__lg Благодарим за регистрацию  на нашем портале. К сожалению, вы еще не выбрали ни один учебный продукт.
        a.btn.btn--outlined(href='#') Перейти к списку мероприятий


block footer
  include ../partials/_footer.pug
