extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('dashboard.html', userMenu)

block content
  main.page-dash
    section.pageHeader
      .container
        h1.text--uppercase БЛИЖАЙШИЕ МЕРОПРИЯТИЯ
    section.content
      .container
        .dash-header
          .swiper-button
            .swiper-prev: +img('icons/slider-prev.svg')
            .swiper-next: +img('icons/slider-next.svg')
        .typicalSlider.swiper-container(data-slider='3', data-tab-slider='2', data-tab-column='3')
          .swiper-wrapper.dash-IP
            - for (let x = 1; x < 4; x++)
              .swiper-slide
                a.dashCard(href='#')
                  .dashCard-top
                    .dashCard-top__date #[b ПН, 25] сентября
                    .dashCard-top__time #[b 11:00-13:00]
                  .dashCard-title
                    +img('icons/webinar.svg')
                    span Вебинар №2. Разбор второго практического задания.
              .swiper-slide
                a.dashCard(href='#')
                  .dashCard-top
                    .dashCard-top__date #[b ПН, 25] сентября
                    .dashCard-top__time #[b 11:00-13:00]
                  .dashCard-title
                    +img('icons/weblist.svg')
                    span Тест по модулю 5
              .swiper-slide
                a.dashCard(href='#')
                  .dashCard-top
                    .dashCard-top__date #[b ПН, 25] сентября
                    .dashCard-top__time #[b 11:00-13:00]
                  .dashCard-title
                    +img('icons/weblist.svg')
                    span Тест по модулю 4
    section.background--light.dash.content
      .container
        .row.row--sm.middle__xs.dash-header
          .col.col__xl-5.col__lg-7.col__xs-12
            h2.dash-subtitle МОИ ПРОГРАММЫ
          .col.col__lg-3.col__xs-12
            .swiper-button
              .swiper-prev: +img('icons/slider-prev.svg')
              .swiper-next: +img('icons/slider-next.svg')
        .typicalSlider.swiper-container
          .swiper-wrapper
            - for (let x = 1; x < 4; x++)
              .swiper-slide
                .dashProgressBar
                  .dashProgressBar-top
                    .doubleTitle
                      .doubleTitle-ico: +img('icons/lists.svg')
                      .doubleTitle-name
                        h4 Технологии и этапы проектирования наноразмерных интегральных схем
                    .pageHeader-progress
                      .pageHeader-progress__line
                        .pageHeader-progress__line-title Пройдено
                        .pageHeader-progress__line-desc 53%
                        .pageHeader-progress__line-range(data-num='53'): span(style='width: 53%')
                      .pageHeader-progress__job
                        .pageHeader-progress__job-date 20.02.2020 — 20.04.2020
                    .estimates
                      .estimates__el
                        b.text--primary 20
                        span Учеников
                      .estimates__el
                        span.text--primary #[b 2]/5
                        span Средний балл
                  .dashProgressBar-bottom
                    a.btn.btn__sm.btn--info(href='#') Календарь #[span 2]
                    a.btn.btn__sm.btn--info(href='#') Сообщения
                    a.btn.btn__sm.btn--info(href='#') Форум #[span 2]
                    a.btn.btn__sm.btn--info(href='#') Студенты
                    a.btn.btn__sm.btn--info(href='#') Статистика

block footer
  include ../partials/_footer.pug
