extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('finished.html', menu)

block content
  main.page-finished
    section.pageHeader
      .container.text--uppercase
        h1 Завершенные
    section.container.content
      .courses
        - for (let x = 1; x < 5; x++)
          .courses-el
            .courses-el__title
              .courses-el__ico: +img('icons/award.svg')
              h3 Технологии и этапы проетирования наноразмерных интегральных схем Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            .courses-el__info
              .estimates
                .estimates-head Получено
                .estimates-body #[span 10]/12 #[small баллов]
              .social
                .social-head ПОДЕЛИТЬСЯ В СОЦИАЛЬНЫХ СЕТЯХ
                .social-list
                  a(href='#'): i.icon-facebook
                  a(href='#'): i.icon-vk
                  a(href='#'): i.icon-insta
            .courses-el__dates
              .dates-el
                p Сроки предоствления доступа
                b.text--primary 23 Сентября - 15 Ноября
              .dates-el
                p Завершен
                b.text--primary 23 ноября 2020


block footer
  include ../partials/_footer.pug
