extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('messages.html', menu)

block content
  main.page-messages
    include ../components/pageHeader
    section.container
      h2.subTitle Сообщения и уведомления
      .messages
        .messages-container.scroll-container
          .message.message--right
            .message-body
              .message-name Лев Воронин
              .message-date 03.07.2019 11:00
              .message-bubble Вопрос по теме вебинара
          .message.message--left
            .message-body
              .message-name Вы
              .message-date 03.07.2019 11:00
              .message-bubble Ответ будущего на заданный вопрос #[br] Ответ будущего на заданный вопрос
          .message.message--right
            .message-ava: +img('ava-message.jpg')
            .message-body
              .message-name Лев Воронин
              .message-date 03.07.2019 11:00
              .message-bubble Вопрос по теме вебинара
          .message.message--left
            .message-body
              .message-name Вы
              .message-date 03.07.2019 11:00
              .message-bubble Ответ будущего на заданный вопорс
          .message.message--right
            .message-ava: +img('ava-message.jpg')
            .message-body
              .message-name Лев Воронин
              .message-date 03.07.2019 11:00
              .message-bubble Вопрос по теме вебинара
          .message.message--left
            .message-body
              .message-name Вы
              .message-date 03.07.2019 11:00
              .message-bubble Ответ будущего на заданный вопорс
        form.messages-bottom(method='POST', action='php')
          input.control(type='text', placeholder='Ваше сообщение')
          button.btn.btn--primary(type='submit')
            span Отправить
            i.icon-right


block footer
  include ../partials/_footer.pug
