extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('messages.html', cabinetMenu)

block content
  - var subtitle = 'Сообщения:'
  - var title = 'Риск-ориентированное управление. Подготовка к сертификации'
  main.page-messages
    section.pageHeader.pageHeader--crumbs
      .container
        include ../components/_breadcrumbs
    section.container.content
      .tabbed-content.messageTabs
        ul.tabs
          li: a.active(href='#tab1')
            +img('messages/ava-1.jpg')
            span Настя Игнатова
            span 1
          li: a(href='#tab2')
            +img('messages/ava-2.jpg')
            span Лев Воронин
          li: a(href='#tab3')
            +img('messages/ava-3.jpg')
            span Владимр Петров
            span 2
          li: a(href='#tab4')
            +img('messages/ava-4.jpg')
            span Объявления Edunano.ru
        #tab1.item.active
          .tabHead
            +img('messages/ava-1.jpg')
            span Настя Игнатова
            span 1
          .item-content: +messageTabs('Настя Игнатова', 'messages/ava-1.jpg')
        #tab2.item
          .tabHead
            +img('messages/ava-2.jpg')
            span Лев Воронин
          .item-content: +messageTabs('Лев Воронин', 'messages/ava-2.jpg')
        #tab3.item
          .tabHead
            +img('messages/ava-3.jpg')
            span Владимр Петров
            span 2
          .item-content: +messageTabs('Владимр Петров', 'messages/ava-3.jpg', true)
        #tab4.item
          .tabHead
            +img('messages/ava-4.jpg')
            span Объявления Edunano.ru
          .item-content: +messageTabs('Объявления Edunano.ru', 'messages/ava-4.jpg')

block footer
  include ../partials/_footer.pug
