extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('practice.html', menu)

block content
  main.page-practice
    section.pageHeader
      .container
        .pagination
          a.pagination__item(href='#')
            +img('icons/pagin-prev.svg')
            span Предыдущий модуль
          a.pagination__item(href='#')
            +img('icons/pagin-next.svg')
            span Следующий модуль
        h1.title
          div Задание "Практическое задание №1. Отличия РМ1 от РМ2."
            br
            small Риск-ориентированное управление. Подготовка к сертификации
    section.background--light
      .container
        .practiceHead
          .practiceHead-el
            .practiceHead-name Срок сдачи:
            .practiceHead-value 09.07.2019 23:00 MSK
          .practiceHead-el
            .practiceHead-name Статус:
            .practiceHead-value
              select.select
                option(value='1') Задано
                option(value='2') Задано
                option(value='3') Задано
                option(value='4') Задано
          .practiceHead-el
            .practiceHead-name Оценка:
            .practiceHead-value
              select.select
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
          .practiceHead-el.practiceHead-el--img
            .practiceHead-img
                +img('user.jpg')
            .practiceHead-body
              .practiceHead-name Преподаватель:
              .practiceHead-value Воронин Лев
          .practiceHead-el
            .practiceHead-value #[i.icon-document] Финальный файл
          .practiceHead-el
            a.btn.btn--primary(href='#') Применить
    section.container.content
      .practiceBody
        .row
          .col.col__xl-8.col__xs-12
            .doubleTitle
              .doubleTitle-ico: +img('icons/desk.svg')
              .doubleTitle-name
                h4 Практическое задание №1
                span Отличия РМ1 от РМ2
            .linksInline
              a.linkInline(href='#')
                i.icon-document
                span Скачать документ (Название файла)
              a.linkInline(href='#')
                i.icon-document
                span Скачать документ (Название файла)
            .row.row--sm
              .col.col__xl-5.col__md-5.col__xs-12
                .practiceTitle Цель задания:
                .practiceDesc Научиться различать элементы риск менеджмента 1 от риск менеджмента 2 и разработать стратегию АО «ВМЗ» по экономии времени и ресурсов на риск
              .col.col__xl-5.col__md-5.col__xs-12
                .practiceTitle Необходимый теоретический материал:
                .practiceDesc Модуль 1 – Риск менеджмент 1 и риск менеджмент 2
              .col.col__xl-10.col__lg-10.col__md-10.col__xs-12
                .practiceTitle Описание кейса для задания
                .practiceDesc АО «ВМЗ» – это бизнес по производству авиационных двигателей ДВ30 для среднемагистральных лайнеров Лайнер100 еще советского производства, расположенный в г. Самара, Россия. Несколько лет назад, контрольный пакет акций бизнеса (75%) был приобретен российской компанией «АвиаРус». Компания приобрела завод с 20-летней историей производства двигателей для советской авиастроительной индустрии.
          .col.col__xl-4.col__xs-12
            .practiceHelper
              +img('icons/question.svg')
              .practiceHelper-body
                p Для выполнения задания выполните следующие действия:
                ol.list--number
                  li Скачайте файл задания.
                  li Прочитайте задание в первой части документа.
                  li Запоните таблице во второй части документа
                  li Загрузите  заполненный файл для проверки преподавателем
    section.container.content.practiceMessages
      h3 Обсуждение задания
      .messages.messages--full
        .messages-container.scroll-container
          .message.message--right
            .message-body
              .message-name Лев Воронин
              .message-date 03.07.2019 11:00
              .message-bubble
                .message-file
                  i.icon-document
                  span Итоговое задание.docx
          .message.message--left
            .message-body
              .message-name Вы
              .message-date 03.07.2019 11:00
              .message-bubble
                | Сделал план
                .message-file
                  i.icon-document
                  span Итоговое задание.docx
        .messages-bottom
          input.control(type='text', placeholder='Ваше сообщение')
          .relative
            button.input-file.btn.btn--primary
              input.input__file-js(type='file')
              i.icon-upload
              span загрузить файл
            .input__text-js
          a.btn.btn--primary(href='#')
            span Отправить
            i.icon-right
      hr
      .buttons
        a.btn.btn--sm.btn--primary(href='#') Принять
        a.btn.btn--sm.btn--primary(href='#') Отклонить


block footer
  include ../partials/_footer.pug
