extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('progress.html', menu)

block content
  main.page-progress
    include ../components/pageHeader
    section.container.content
      h2.subTitle Прогресс
      .progress
        .progress-head
          .progress-head__el Задание
          .progress-head__el Результат
          .progress-head__el Вес
          .progress-head__el Дата сдачи
        .progress-body
          .progress-body__el
            .progress-status.progress-status--finished
              .progress-counter: span 1
            .progress-desc.progress-status--finished
              .progress-title #[span Модуль 1.] Лучшие международные практики
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Тест по модулю 1
                .progress-line
                .progress-estimate
                  i.checked.checked--finished
                  span Зачет
                .progress-count 5%
                .progress-date 12.03.09
          .progress-body__el
            .progress-status.progress-status--finished
              .progress-counter: span 2
            .progress-desc.progress-status--finished
              .progress-title #[span Модуль 2.] Интеграция управления рисками
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Тест по модулю 2
                .progress-line
                .progress-estimate
                  i.checked.checked--finished
                  span Зачет
                .progress-count 5%
                .progress-date 12.03.09
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Задание "Практическое задание №1. Отличия РМ1 от РМ2."
                .progress-line
                .progress-estimate
                  i.checked.checked--finished
                  span Зачет
                .progress-count 5%
                .progress-date 12.03.09
          .progress-body__el
            .progress-status
              .progress-counter: span 3
            .progress-desc
              .progress-title #[span Модуль 3.] Психология риска и культура управления рисками
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Тест по модулю 3
                .progress-line
                .progress-estimate
                  i.checked.checked--finished
                  span Зачет
                .progress-count 5%
                .progress-date 12.03.09
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Задание "Практическое задание №1. Отличия РМ1 от РМ2."
                .progress-line
                .progress-estimate
                  i.checked.checked--awaiting
                  span 0/60
                .progress-count 5%
                .progress-date 12.03.09
          .progress-body__el
            .progress-status.progress-status--disabled
              .progress-counter: span 4
            .progress-desc.progress-status--disabled
              .progress-title #[span Модуль 4.] Количественная оценка риска
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Тест по модулю 4
                .progress-line
                .progress-estimate
                  i.checked
                  span 50/60
                .progress-count 5%
                .progress-date 12.03.09
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Задание "Практическое задание №1. Отличия РМ1 от РМ2."
                .progress-line
                .progress-estimate
                  i.checked
                  span 50/60
                .progress-count 5%
                .progress-date 12.03.09
          .progress-body__el
            .progress-status.progress-status--disabled
              .progress-counter: span 5
            .progress-desc.progress-status--disabled
              .progress-title #[span Модуль 5.] Количественная оценка риска
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Тест по модулю 4
                .progress-line
                .progress-estimate
                  i.checked
                  span 50/60
                .progress-count 5%
                .progress-date 12.03.09
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Задание "Практическое задание №1. Отличия РМ1 от РМ2."
                .progress-line
                .progress-estimate
                  i.checked
                  span 50/60
                .progress-count 5%
                .progress-date 12.03.09
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Итоговый тест
                .progress-line
                .progress-estimate
                  i.checked
                  span 50/60
                .progress-count 5%
                .progress-date 12.03.09
              .progress-desc__el
                .progress-link
                  i.icon-test
                  span Итоговая работа
                .progress-line
                .progress-estimate
                  i.checked
                  span 50/60
                .progress-count 5%
                .progress-date 12.03.09


block footer
  include ../partials/_footer.pug
