extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('statistic.html', cabinetMenu)

block content
  - var count = 5
  - var subtitle = 'Статистика'
  - var title = 'Риск-ориентированное управление. Подготовка к сертификации'
  main.page-statistic
    section.pageHeader.pageHeader--crumbs
      .container
        include ../components/_breadcrumbs
    section.container.content
      .accordion.accordion--simple
        - for (let x = 1; x < 7; x++)
          .accordion-el
            .accordion-header
              .accordion-header-subtitle Журнал контроля обучения
              .accordion-header-arr: i.icon-chevron-down
            .accordion-body
              a.linkIcon(href='#')
                +img('icons/xls.svg')
                span Экспорт в Excel
              .table--responsive
                table.table
                  thead
                    tr
                      th(rowspan='2') ФИО
                      th(rowspan='2') Ответ на входную анкету
                      th(rowspan='2') Вход в ППК
                      - for (let i = 1; i < count; i++)
                        th.background--lighter(colspan='3') Вебинар “Вебинар №1. Установочный вебинар”
                    tr
                      - for (let i = 1; i < count; i++)
                        th.background--lighter Вход
                        th.background--lighter Просмотр записи
                        th.background--lighter Просмотр записи
                  tbody
                    - for (let y = 1; y < 10; y++)
                      tr
                        td
                          =y
                          |. Буланова Ольга Михайловна
                        td не&nbsp;отвечал
                        td 15.10.2019 12:50:24
                        - for (let i = 1; i < count; i++)
                          td 15.10.2019 12:50:24
                          td 15.10.2019 12:50:24
                          td не&nbsp;скачан


block footer
  include ../partials/_footer.pug
