extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('test.html', menu)

block content
  main.page-test
    include ../components/_pageHeaderTest
    section.container.content
      .testBlock
        .testBlock-header
          .testBlock-name #[b Вопрос 1] из 10
          .progressBar
            span.active
            span
            span
            span
            span
            span
            span
            span
            span
            span
        form.testBlock-body(method='POST', action='php')
          h4 Стандарт ГОСТ Р ИСО 31000 предназначен для:
          .row.testBlock-form
            .form__group.col.col__lg-6.col__xs-12.first__xs: +fieldRadio('гармонизации процессов управления риском, описанных в существующих действующих и будущих стандартах', 'testr-id1', 'testr', true)
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('обеспечения единства управления рисками во всех организациях', 'test-id1', true)
            .form__group.col.col__lg-6.col__xs-12.first__xs.stay__lg: +fieldRadio('замены существующих отраслевых стандартов по управлению рисками', 'testr-id2', 'testr', false)
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('обеспечения сертификации в области управления рисками', 'test-id2', false)
          .row.between__xs
            .col.form__group
              a.btn.btn--primary(href='#') Ответить
            .col.form__group: a.btn.btn--outlined(href='#') Завершить тест


block footer
  include ../partials/_footer.pug
