extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('users.html', menu)

block content
  main.page-users
    include ../components/pageHeader
    section.container.content
      h2.subTitle Слушатели
      form.userFilter(method='POST', action='filter')
        .userFilter-el
          .userFilter-el__user
            .userFilter-el__user-img: +img('user.jpg')
            .userFilter-el__user-name
              p Александр Петрович #[b ФЕДОРОВ]
              p.text--gray инженер
        .userFilter-el
          .userFilter-el__user-info
            p 31 год, 12.04.1987
            a(href='mailto:fedorov@mail.ru') fedorov@mail.ru
            a.text--primary(href='tel:79111123456'): b +7 (911) 112-34-56
        .userFilter-el
          .userFilter-el__chk
            +fieldCheckbox('ФИО', 'chk-name', true)
            +fieldCheckbox('Телефон', 'chk-phone', true)
            +fieldCheckbox('День рождения', 'chk-date', true)
            +fieldCheckbox('E-mail', 'chk-email', true)
            +fieldCheckbox('Возраст', 'chk-age', true)
            +fieldCheckbox('Должность', 'chk-position', true)
            +fieldCheckbox('Фото', 'chk-photo', true)
            +fieldCheckbox('Город', 'chk-city', true)
            +fieldCheckbox('Место работы', 'chk-work', true)
        .userFilter-el
          .userFilter-el__btn
            button.btn.btn--primary(type='submit') Применить
            a.text--primary(href='#') Скачать в Excel
      .userList
        - for (let x = 1; x < 7; x++)
          .userList-item
            .userList-el
              .userList-el__user
                .userList-el__user-img: +img('user.jpg')
                .userList-el__user-name
                  p Александр Петрович #[b ФЕДОРОВ]
                  p.text--gray инженер
            .userList-el
              .userList-el__company Название компании #[br] в две строчки или #[br] в три строчки
            .userList-el
              .userList-el__date
                div 31 год, &nbsp;
                div 12.04.1987
            .userList-el
              .userList-el__city г. Санкт-Петербург
            .userList-el
              .userList-el__info
                a.text--primary(href="tel:79111123456") +7 (911) 112-34-56
                a.text--primary(href="mailto:fedorov@mail.ru") fedorov@mail.ru
      include ../components/_paginator

block footer
  include ../partials/_footer.pug
