extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('video.html', menu)

block content
  main.page-video
    include ../components/pageHeader
    section.container.content
      .webinar.margbot40
        .webinar-play.webinar-play--js: +img('icons/play.svg')
        video.video(src="https://player.vimeo.com/external/447156804.hd.mp4?s=bfcf7ab611645e536a28047381071dfc62c41750&amp;profile_id=175", controls)
      a.btn.btn--outlined.form__group(href='#')
        i.icon-down
        span Скачать презентацию


block footer
  include ../partials/_footer.pug
