extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('annotation.html', menu)

block content
  main.page-annotation
    section.pageHeader
      .container.text--uppercase
        h1 Инструкции по личному кабинету
    section.container.content
      .row
        .col.col__lg-4.last__lg.text__md--right.form__group
          a.btn.btn--outlined(href='#') Вернуться к содержанию
          br
        .col.col__lg-8
          h2.subTitle Аннотация
          p #[b Личный кабинет] – это инструмент, который позволяет пользователю быстро и в доступной форме ознакомится с важной для него информацией. С помощью личного кабинета пользователь может просмотреть свои текущие задачи, отредактировать личную информацию, задать вопросы специалистам еНано, а также просмотреть расписание своих учебных мероприятий в личном календаре.
          br
          h6 Личный кабинет пользователя состоит из следующих пунктов меню:
          ul
            li Мои программы;
            li Мои курсы;
            li Мероприятия;
            li Сертификат;
            li Открытые ресурсы;
            li Профиль пользователя;
            li Анкетирование;
            li Помощь.
          br
          +img('bar.jpg')



block footer
  include ../partials/_footer-s.pug
