extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('auth.html', menu)

block content
  main.page-registration
    section.container
      .content-sm
        .titleRegistration
          h1 Авторизация
          p Впервые здесь?&nbsp;
            a(href='#') Зарегистрируйтесь!
        form(method='post', action='')
          .form__group: +fieldInputLabel('text', 'email', 'E-mail:', false, 'success')
          .form__group: +fieldInputLabel('password', 'password', 'Пароль:', false, 'success')
          .form__group.text--center
            a.smallLink(href='#') Напомнить пароль
          .form__group.text--center
            a.btn.btn--primary(href='#') ВОЙТИ
        hr.decorLine
        .socialBtn
          .socialBtn-fb: a.btn.btn--outlined.btn__sm.btn--round(href='#')
            i.icon-fb
            span Войти через Facebook
          .socialBtn-vk: a.btn.btn--outlined.btn__sm.btn--round(href='#')
            i.icon-vk
            span Войти через ВКОНТАКТЕ



block footer
  include ../partials/_footer-s.pug
