extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('index.html', menu)

block content
  main.page-dash
    section.pageHeader
      .container
        h1.text--uppercase Личный кабинет преподавателя
    section.dash
      - const data = [ { "title": 'Программа повышения квалификации', "img": 'icons/dash-2.svg' }, { "title": 'Программа повышения квалификации', "img": 'icons/dash-2.svg' } ]
      .container
        .showBlock.is-open
          span свернуть
          +img('icons/arr-up.svg')
        .dash-header
          h2.dash-subtitle Мои вебинары
          p Начните обучение с выгодой: выберите курс или программу со скидкой 15% по промокоду welcome
        - for (let x = 1; x < 3; x++)
          .dashBlock.dashBlock--flex
            .dashBlock-ico: +img('icons/dash-3.svg')
            .dashBlock-desc
              .dashBlock-name
                h4
                  .doubleTitle-ico: +img('icons/dash-3.svg')
                  | Вебинар №2. Разбор второго практического задания.
              .dashBlock-date #[b ПН, 25] сентября
              .dashBlock-time 11:00-13:00
        .showBlock
          span Развернуть
          +img('icons/arr-up.svg')
        .dash-header
          h2.dash-subtitle Я ПРЕПОДАЮ
        each item in data
          .dashBlock
            .dashBlock-left
              .doubleTitle-ico: +img('icons/dash-4.svg')
            .dashBlock-right
              .doubleTitle-name
                h4
                  .doubleTitle-ico: +img('icons/dash-4.svg')
                  | Технологии и этапы проетирования наноразмерных интегральных схем
                p
                  +img(item.img)
                  = item.title
              .progressBar
                .progressBar-el
                  .progressBar-el__name Осталось
                  .progressBar-el__bar
                    span(style='width: 70%')
                  .progressBar-el__time 13 дней
                .progressBar-el
                  .progressBar-el__name Даты проведения
                  .progressBar-el__desc 13.09.2021 - 15.10.2021
                .progressBar-el
                  .progressBar-el__name Группа
                  .progressBar-el__name Группа для теста ДЗ Басов
        .dash-header
          h2.dash-subtitle Мои КУРСЫ И ПРОГРАММЫ
        each item in data
          .dashBlock.dashBlock--second
            .dashBlock-left
              .doubleTitle-ico: +img('icons/dash-4.svg')
            .dashBlock-right
              .doubleTitle-name
                h4
                  .doubleTitle-ico: +img('icons/dash-4.svg')
                  | Технологии и этапы проетирования наноразмерных интегральных схем
                p
                  +img(item.img)
                  = item.title
              .progressBar
                .progressBar-el
                  .progressBar-el__name Осталось
                  .progressBar-el__bar
                    span(style='width: 70%')
                  .progressBar-el__time 13 дней
                .progressBar-el
                  .progressBar-el__name Даты проведения
                  .progressBar-el__desc 13.09.2021 - 15.10.2021
                .progressBar-el
                  .progressBar-el__name Группа
                  .progressBar-el__name Группа для теста ДЗ Басов
        .dashBlock.dashBlock--second
          .dashBlock-left
            .doubleTitle-ico: +img('icons/dash-4.svg')
          .dashBlock-right
            .doubleTitle-name
              h4
                .doubleTitle-ico: +img('icons/dash-4.svg')
                | Технологии и этапы проетирования наноразмерных интегральных схем
            .progressBar.progressBar--lg
              .progressBar-el
                .progressBar-el__name Оплата курса:
                .progressBar-el__desc Не оплачен
              .progressBar-el
                .progressBar-el__name Статус:
                .progressBar-el__name.progressBar-el__name--wait Ожидание подтверждения документов
              .progressBar-el
                .progressBar-el__name
                  a.btn.btn--primary.btn__sm.btn--round(href='#')
                    span Загрузить документы
                    i.icon-right

block footer
  include ../partials/_footer-s.pug
