extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('index.html', menu)

block content
  main.page-dash
    section.pageHeader
      .container
        h1.text--uppercase Личный кабинет
    section.dash
      - const data = [ { "title": 'Электронный курс', "img": 'icons/dash-1.svg' }, { "title": 'Электронный курс', "img": 'icons/dash-1.svg' }, { "title": 'Программа повышения квалификации', "img": 'icons/dash-2.svg' }, { "title": 'Программа повышения квалификации', "img": 'icons/dash-2.svg' } ]
      .container
        .dash-header
          h2.dash-subtitle МОИ КУРСЫ и ПРОГРАММЫ
          p Начните обучение с выгодой: выберите курс или программу со скидкой 15% по промокоду welcome
        each item in data
          .dashBlock
            .dashBlock-left
              .doubleTitle-ico: +img('icons/dash-4.svg')
            .dashBlock-right
              .doubleTitle-name
                h4
                  .doubleTitle-ico: +img('icons/dash-4.svg')
                  | Технологии и этапы проетирования наноразмерных интегральных схем
                p
                  +img(item.img)
                  = item.title
              .progressBar
                .progressBar-el
                  .progressBar-el__name Осталось
                  .progressBar-el__bar
                    span(style='width: 70%')
                  .progressBar-el__time 13 дней
                .progressBar-el
                  .progressBar-el__name Даты проведения
                  .progressBar-el__desc 13.09.2021 - 15.10.2021
                .progressBar-el
                  .progressBar-el__name Группа
                  .progressBar-el__name Группа для теста ДЗ Басов
        .dash-header
          h2.dash-subtitle БЛИЖАЙШИЕ МЕРОПРИЯТИЯ
        .newsBlock
          .newsEl
            .newsEl__img: +img('dash-3.jpg')
            a.newsEl__title(href='#') Интернет вещей для бизнеса: инструкция по внедрению
            .newsEl__info
              .newsEl__info-el 26 апреля 2019
          .newsEl
            .newsEl__img: +img('dash-2.jpg')
            a.newsEl__title(href='#') Управление отношениями с заинтересованными сторонами в проектах
            .newsEl__info
              .newsEl__info-el 26 апреля 2019
              a.newsEl__info-el.tag(href='#') Лекция
          .newsEl
            .newsEl__img: +img('dash-1.jpg')
            a.newsEl__title(href='#') Управление отношениями с заинтересованными сторонами в проектах
            .newsEl__info
              .newsEl__info-el 26 апреля 2019
              a.newsEl__info-el.tag(href='#') Семинар



block footer
  include ../partials/_footer-s.pug
