extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('finished.html', menu)

block content
  main.page-finished
    section.pageHeader
      .container.text--uppercase
        h1 Завершенные
    section.container.content
      .empty Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.


block footer
  include ../partials/_footer-s.pug
