extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('index.html', menu)

block content
  main.page-main
    .infoBlock
      p Начните обучение с выгодой: выберите курс или программу со скидкой 15% по промокоду welcome
      a.btn.btn--primary(href='#')
        span Выбрать курс
        i.icon-right



block footer
  include ../partials/_footer-s.pug
