extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('index.html', menu)

block content
  main.page-main
    .empty-block.empty-block__course
      .empty-block-ico
        +img('icons/empty.svg')
      .empty-block-text
        p Курсы
        span Отсутствуют
      .empty-block-plus
        +img('icons/plus-2.svg')



block footer
  include ../partials/_footer-s.pug
