extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('instruction.html', menu)

block content
  main.page-instruction
    section.pageHeader
      .container.text--uppercase
        h1 ИНСТРУКЦИЯ
    section.container.content
      .instruction
        ol.accordion
          - for (let x = 1; x < 4; x++)
            - var parent  = ''
            - if(x === 1) parent='active'
            li.accordion-el(class=parent)
              .accordion-header Администрация Сайта
              .accordion-body
                p #[b Администрация Сайта] – сотрудники АНО «еНано», в должностных обязанностях которых закреплены функции по управлению Сайтом.
                p #[b Авторы] – физические лица, обладающие авторским правом на размещенные на Сайте результаты интеллектуальной деятельности.
                p #[b АНО «еНано»] – Автономная некоммерческая организация «Электронное образование для наноиндустрии (еНано)».
                p Образовательный портал https://edunano.ru/ (далее – Сайт) — система размещения информации в сети Интернет, содержащая данные и интерактивные сервисы, предоставляемые АНО «еНано».
                p #[b Пользователь] – любое лицо, зарегистрированное на Сайте и получившее доступ к Сайту с помощью логин и пароля, предоставленных данному лицу АНО «еНано». За Пользователя, не достигшего возраста 14 лет, принимает Соглашение и становится обязанным по Соглашению его родитель или законный представитель, даже если фактическое использование Сайта и Сервиса Пользователем после регистрации будет осуществляться таким Пользователем. Все действия, совершенные таким Пользователем на Сайте, будут считаться совершенными с согласия законного представителя.
                p #[b РИД] – любые результаты интеллектуальной деятельности, подпадающие под действие законодательства, размещенные на Сайте и предоставляемые Пользователям.
                p #[b Сервис] – комплекс услуг и простая (неисключительная) лицензия, предоставляемые Пользователю на условиях, определенных настоящим Соглашением с использованием Образовательного портала (Сайта).
                p #[b Соглашение] — настоящее пользовательское соглашение со всеми дополнениями и изменениями.
                .image-block: +img('instruction.jpg')



block footer
  include ../partials/_footer-s.pug
