extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('profile.html', menu)

block content
  main.page-documents
    section.pageHeader
      .container.text--uppercase
        h1 Профиль пользователя
    section.container.content
      .tabs
        ul.tabs__caption
          li.active Личная информация
          li Мои документы
          li Подписка на рассылку
        .tabs__content.active
          .row.profile
            .col.profile-sidebar
              .profile-ava
                +img('dash-1.jpg')
              a.btn.btn--outlined(href='#') Обзор
            .col.profile-content
              .row
                .col.col__md-6.col__xs-12
                  .form__group: +fieldInput('text', 'name', 'Имя', true, '', true)
                .col.col__md-6.col__xs-12
                  .form__group: +fieldInput('text', 'surname', 'Фамилия', true, '', true)
                .col.col__md-6.col__xs-12
                  .form__group: +fieldInput('text', 'email', 'E-mail', false, '', false)
                .col.col__md-6.col__xs-12
                  .form__group: +fieldInput('text', 'phone', 'Телефон', false, '', false)
                .col.col__md-6.col__xs-12
                  .form__group: +fieldInput('text', 'company', 'Организация', false, '', false)
                .col.col__md-6.col__xs-12
                  .form__group: +fieldInput('text', 'workTitle', 'Должность', false, '', false)
                .col.col__md-6.col__xs-12
                  .form__group: +fieldInput('text', 'city', 'Город', false, '', false)
            .col.profile-sidebar
            .col.profile-content
              hr
              .row
                .col.col__xs-12
                  h5 Смена пароля
                .col.col__md-6.col__xs-12
                  .form__group: +fieldInput('text', 'oldPass', 'Старый пароль', false, '', false)
                .col.col__md-6.col__xs-12
                .col.col__md-6.col__xs-12
                  .form__group: +fieldInput('text', 'newPass', 'Новый пароль', false, '', false)
                .col.col__md-6.col__xs-12
                  .form__group: +fieldInput('text', 'againNewPass', 'Новый пароль (еще раз)', false, '', false)
              .row.margtop30.profile-btn
                .col.form__group: a.btn.btn--primary(href='#') Сохранить изменения
                .col.form__group: a.btn.btn--second(href='#')
                  span В каталог
                  +img('icons/btn-next.svg')
        .tabs__content
          .documents
            .documents-item.documents-item--main
              .documents-item-ico
                +img('icons/profile-1.svg')
              .documents-item-title
                p.text__lg Тестовая ппк по групповому дз (Басов)
                p #[b Группа:] группа для теста груп.ДЗ басов
              .documents-item-end
                .btn.btn--primary(href='#') ПОДРОБНО
            .documents-item
              .documents-item-ico
                +img('icons/profile-2.svg')
              .documents-item-title
                p.text__lg Алексей Корнилов Технологии IoT_26.04.19.pdf
                p 2.32 Mb
              .documents-item-end
                .close-ico: +img('icons/close.svg')
        .tabs__content
          .subscription
            form.subscription-item
              .subscription-item-title
                p Подписка на  новости
                small Статус: #[span.error Вы не подписаны  на рассылку]
              .subscription-item-input
                +fieldInput('text', 'email', 'E-mail', true, 'success')
              .subscription-item-end
                button.btn.btn--primary.btn--full(type='submit') Подписаться
            form.subscription-item
              .subscription-item-title
                p Подписка на  рассылку “Управление рисками”
                small Статус: #[span.success Вы подписаны  на рассылку]
              .subscription-item-input
                +fieldInput('text', 'email', 'E-mail', true, 'success')
              .subscription-item-end
                button.btn.btn--primary.btn--full(type='submit') Изменить адрес
                button.btn.btn--outlined.btn--full(type='submit') Отписаться


block footer
  include ../partials/_footer-s.pug
