extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('questionnaire.html', menu)

block content
  main.page-questionnaire
    section.pageHeader
      .container.text--uppercase
        h1 Анкетирование
    section.container.content
      .row.row--sm.questionnaire
        - for (let x = 1; x < 5; x++)
          .col.col__xl-4.col__md-6.col__xs-12
            .questionnaire__item
              .questionnaire__item-ico: +img('icons/questionnaire.svg')
              .questionnaire__item-desc
                .questionnaire__item-title Опрос по вебинару #[b Управления рисками в отрасли]
                p А.Сидоренко
              .questionnaire__item-btn: a.btn.btn--primary(href='#') Пройти анкетирование
        .col.col__xl-4.col__md-6.col__xs-12
          .questionnaire__item
            .questionnaire__item-ico: +img('icons/questionnaire.svg')
            .questionnaire__item-desc
              .questionnaire__item-title Опрос по вебинару #[b Управления рисками в отрасли]
              p А.Сидоренко
            .questionnaire__item-btn.eduProgress-list-el--finished
              .eduProgress-list-checked
              .questionnaire__item-text
                div Анкета заполнена 12.12.19 23:23
                a(href='#') Посмотреть анкету


block footer
  include ../partials/_footer-s.pug
