extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('registration.html', menu)

block content
  main.page-registration
    section.container
      .content-sm
        .titleRegistration.titleRegistration--lg
          h1 Регистрация
        form.formRegistration(method='post', action='')
          .form__group: +fieldInputLabel('text', 'email', 'E-mail (будет логином):', true, 'success')
          .form__group: +fieldInputLabel('password', 'password', 'Пароль:', true, 'success')
          .form__group: +fieldInputLabel('password', 'repassword', 'Пароль (повторно):', true, 'success')
          .form__group: +fieldInputLabel('text', 'surname', 'Фамилия:', true, 'success')
          .form__group: +fieldInputLabel('text', 'name', 'Имя:', true, 'success')
          .form__group: +fieldInputLabel('text', 'secondname', 'Отчество:', false, 'success')
          .form__group: +fieldInputLabel('date', 'birthdate', 'Дата рождения:', false, 'success', '01.01.1971')
          .form__group: +fieldInputLabel('text', 'education', 'Образование:', false, 'success')
          .form__group: +fieldInputLabel('text', 'role', 'Должность:', false, 'success')
          .form__group: +fieldInputLabel('text', 'profession', 'Область профессиональных интересов:', false, 'success')
          .form__group: +fieldInputLabel('text', 'city', 'Город:', false, 'success')
          .form__group: +fieldInputLabel('text', 'phone', 'Телефон:', false, 'success', '+7 (___) ___-__-__')
          .form__group: +fieldCheckbox('Я хочу получать рассылку от портала edunano.ru', 'test-id12', false)
          .form__group
            .checkbox
              input(type="checkbox", id='test-id13')
              label(for='test-id13') Нажимая кнопку "Зарегистрироваться" Вы подтверждаете, что Вам больше 14 лет и что Вы прочитали и согласны с #[a(href='#' пользовательским соглашением)], а также даёте согласие на #[a(href='#' обработку персональных данных)].
          .form__group.text--center
            a.btn.btn--primary(href='#') ЗАРЕГИСТРИРОВАТЬСЯ
        hr.decorLine
        .socialBtn
          .socialBtn-fb: a.btn.btn--outlined.btn__sm.btn--round(href='#')
            i.icon-fb
            span Войти через Facebook
          .socialBtn-vk: a.btn.btn--outlined.btn__sm.btn--round(href='#')
            i.icon-vk
            span Войти через ВКОНТАКТЕ



block footer
  include ../partials/_footer-s.pug
