extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('repeat-pass.html', menu)

block content
  main.page-registration
    section.container
      .content-xs
        .titleRegistration.titleRegistration--lg
          h1 НАПОМНИТЬ ПАРОЛЬ
        form(method='post', action='')
          .form__group: +fieldInputLabel('text', 'email', 'E-mail:', false, 'success')
          .form__group.text--center
            a.btn.btn--primary(href='#') ПРИСЛАТЬ ПАРОЛЬ
        br
        .titleRegistration.text--left
          p Мы пришлём пароль на указанную электронную почту. #[br] Если Вы не помните логин или E-mail, #[a(href='#') пришлите нам письмо.]



block footer
  include ../partials/_footer-s.pug
