//- mixins


//- menu
mixin menu(items)
    ul.main-nav
        each item in items
            - var parent  = ''
            - if(item.subitems !== false) parent='main-nav__item--parent'
            li.main-nav__item.c-panel-nav__menu-item--level-1(class=parent)
                a.main-nav__link(href=item.href, title=item.title)= item.title
                - if(item.subitems !== false)
                    ul.sub-nav
                        each subitem in item.subitems
                            li.main-nav__item.c-panel-nav__menu-item--level-2
                                a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title

mixin menuSide(items, page)
  ul.main-nav
    each item in items
      - let active  = ''
      - let parent  = ''
      - if(page === item.path) active='active'
        - if(item.subitems !== false) parent='main-nav__item--parent'
        li.main-nav__item(class=parent)
          a.main-nav__link(href=item.href, title=item.title, class=active)
            = item.title
            - if(item.number)
              span= item.number
          - if(item.subitems !== false)
            ul.sub-nav
              each subitem in item.subitems
                li.main-nav__item
                  a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title

mixin aside(page, arr)
  aside.aside
    .aside-cabinet
      .aside-head
        .aside-user
          +img('dash-1.jpg')
        .aside-name Александр #[br] Федоров
      .aside-nav
        +menuSide(arr, page)


mixin asideUser(page)
  aside.aside
    .aside-logo
      a.header-menu.header-menu--js(href='#')
      a(href='#'): +img('logo.png')
      .header-logout: a(href='#') Выйти
    .aside-cabinet
      .aside-user
        +img('dash-1.jpg')
      .aside-name Александр Федоров
      .aside-nav
        +menuSide(userMenu, page)
    .aside-menu
      +menu(asideMenu)
      ul.social
        li: a(href='#'): +img('icons/facebook.svg')
        li: a(href='#'): +img('icons/vk.svg')
        li: a(href='#'): +img('icons/insta.svg')

mixin img(src, className)
  img(src='assets/images/'+src, alt="", class=className)

//- form-input
mixin fieldInput(type, name, placeholder, required, className, disabled)
  .control-body(class=className)
    input.control(type=type, name=name, placeholder=placeholder, required=required, disabled=disabled)
    .control-result

//- form-input
mixin fieldInputLabel(type, name, label, required, className, placeholder)
  .control-container
    .control-body(class=className)
      label=label
        - if(required === true)
          span *
      input.control(type=type, name=name, required=required, placeholder=placeholder)
    .control-result

//- form-textarea
mixin fieldTextarea(name, id, placeholder, rows, required)
    textarea.control(name=name, id=id, placeholder=placeholder, rows=rows, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name


mixin messageTabs(name, image, short)
  .messages
    .messages-container.scroll-container
      .message.message--right
        .message-body
          .message-name= name
          .message-date 03.07.2019 11:00
          .message-bubble Вопрос по теме вебинара
      .message.message--left
        .message-body
          .message-name Вы
          .message-date 03.07.2019 11:00
          .message-bubble Ответ будущего на заданный вопрос #[br] Ответ будущего на заданный вопрос
      - if(short !== true)
        .message.message--right
          .message-ava: +img(image)
          .message-body
            .message-name= name
            .message-date 03.07.2019 11:00
            .message-bubble Вопрос по теме вебинара
        .message.message--left
          .message-body
            .message-name Вы
            .message-date 03.07.2019 11:00
            .message-bubble Ответ будущего на заданный вопорс
        .message.message--right
          .message-ava: +img(image)
          .message-body
            .message-name= name
            .message-date 03.07.2019 11:00
            .message-bubble Вопрос по теме вебинара
        .message.message--left
          .message-body
            .message-name Вы
            .message-date 03.07.2019 11:00
            .message-bubble Ответ будущего на заданный вопорс
    form.messages-bottom(method='POST', action='php')
      input.control(type='text', placeholder='Ваше сообщение')
      button.btn.btn--primary(type='submit')
        span Отправить
        i.icon-right
