footer.l-footer
  .l-footer__container.l-footer__container--1.l-container
    .l-footer__columns.l-columns.align-items-center.row
      .l-footer__column.l-column.lg-col-3.xl-col-3.col__xl-3.col__lg-3.col
        a.l-footer__logo(href='/')
          +img('logo-enano-footer.svg')
      .l-footer__column.l-column.lg-col-5.xl-col-6.col__xl-6.col__lg-5.col
        a.l-footer__logo(href='https://www.rusnano.com/')
          +img('logo-rosnano.svg')
      .l-footer__column.l-column.lg-col-4.xl-col-3.col__xl-3.col__lg-4.col
  .l-footer__divider
  .l-footer__container.l-footer__container--2.l-container
    .l-footer__columns.l-columns.row
      .l-footer__column.l-footer__column--contacts.column.lg-col-6.xl-col-3.col__xl-3.col__lg-6.col
        b.l-footer__contacts-title
          a(href='tel:+74959885388p1669') +7 (495) 988-53-88
        .l-footer__contacts-hint Добавочный номер — 1669
        b.l-footer__contacts-title
          a(href='tel:+74959885388p1408') +7 (495) 988-53-88
        .l-footer__contacts-hint Добавочный номер — 1408
        b.l-footer__contacts-title
          a(href='mailto:enano@rusnano.com') enano@rusnano.com
        .l-footer__contacts-hint Для писем
        b.l-footer__contacts-title Соц. сети
        .l-footer__socials.d-flex.flex-wrap
          a.l-footer__socials-item(href='https://www.facebook.com/edunano.ru/')
            +img('soc-facebook.svg')
          a.l-footer__socials-item(href='https://vk.com/edunano')
            +img('soc-vk.svg')
          a.l-footer__socials-item(href='https://www.instagram.com/edunano.ru/')
            +img('soc-instagram.svg')
          a.l-footer__socials-item(href='https://www.youtube.com/channel/UCtYuwEN0d2ImShqSDG8ci-g')
            +img('soc-youtube.svg')
      .l-footer__column.l-column.lg-col-6.xl-col-3.col__xl-3.col__lg-6.col
        .l-footer__menu-title.hidden.lg-visible Информация
        .l-footer__menu-title.lg-hidden(onclick='$fn.toggle(this.parentNode)')
          | Информация
          svg.ui-icon-svg.l-footer__menu-plus
            use(xlink:href='#icon-plus')
        .l-footer__menu-slide
          ul.c-footer-menu
            li
              a(href='/o-kompanii/') О компании
            li
              a(href='http://enano-vuzam.ru/') Вузам
            li
              a(href='/tekhnopredprinimatelstvo-i-innovatsionnyy-menedzhment/') Техпред
            li
              a(href='/o-proforientatsii/') Профориентация
            li
              a(href='/katalog/') Каталог
            li
              a(href='https://edunano.ru/podpiska/') Подписка на курсы
            li
              a(href='/grafik-obucheniya/') График обучения
            li
              a(href='/nanotekhnologii/otkrytaya-kollektsiya/') Открытая коллекция
            li
              a(href='https://ceeonline.ru/') Конференция по инженерному образованию
            li
              a(href='/flagship/god-nauki-i-tekhnologiy/') Год науки и технологий
      .l-footer__column.l-column.lg-col-12.xl-col-6.col__xl-6.col__lg-12.col
        .l-footer__menu-title.hidden.lg-visible Каталог
        .l-footer__menu-title.lg-hidden(onclick='$fn.toggle(this.parentNode)')
          | Каталог
          svg.ui-icon-svg.l-footer__menu-plus
            use(xlink:href='#icon-plus')
        .l-footer__menu-slide
          .l-columns.row
            .l-column.lg-col-6.col__lg-6.col
              ul.c-footer-menu
                li
                  a(href='/katalog/?tag=elektroenergetika') Электроэнергетика
                li
                  a(href='/katalog/?tag=it') ИТ
                li
                  a(href='/katalog/?tag=Menedzhment') Менеджмент
                li
                  a(href='/katalog/?tag=tekhnologii') Технологии
                li
                  a(href='/katalog/?tag=otsenka-kvalifikatsii') Оценка квалификации
                li
                  a(href='/katalog/?tag=marketing') Маркетинг
                li
                  a(href='/katalog/?tag=e-learning') Разработка онлайн-курсов
                li
                  a(href='/katalog/?tag=nanotekhnologii') Нанотехнологии
            .l-column.lg-col-6.col__lg-6.col
              ul.c-footer-menu
                li
                  a(href='/katalog/?tag=upravlenie-riskami') Управление рисками
                li
                  a(href='/katalog/?tag=niokr') НИОКР
                li
                  a(href='/katalog/?tag=yurisprudentsiya') Юриспруденция
                li
                  a(href='/katalog/?tag=promdizayn') Промдизайн
                li
                  a(href='/katalog/?tag=obrazovanie') Образование
                li
                  a(href='/katalog/?tag=nanomaterialy') Наноматериалы
                li
                  a(href='/katalog/?tag=mikroelektronika') Микроэлектроника
                li
                  a(href='/katalog/?tag=profstandart') Профстандарт
  .l-footer__divider
  .l-footer__container.l-footer__container--3.l-container
    .l-footer__columns.l-columns.row
      .l-footer__column.l-column.lg-col-3.col__lg-3.col
        .l-footer__address
          | Россия, 117036, г.Москва,
          br.hidden.lg-visible
          |                     пр-т 60-летия Октября,
          br.hidden.lg-visible
          |                     дом 10А
      .l-footer__column.l-column.lg-col-3.col__lg-3.col
        ul.c-footer-submenu
          li
            a(href='/o-kompanii/svedeniya-ob-obrazovatelnoy-organizatsii/') Сведения об образовательной организации
          li
            a(href='/o-kompanii/press-tsentr/') Пресс-центр
          li
            a(href='/o-kompanii/litsenziya/') Лицензия
      .l-footer__column.l-column.lg-col-3.col__lg-3.col
        ul.c-footer-submenu
          li
            a(href='/o-kompanii/politikа-v-otnoshenii-ispolzovaniya-cookie-faylov/') Политика в отношении использования Cookie-файлов
          li
            a(href='/o-kompanii/politika-v-otnoshenii-obrabotki-personalnykh-dannykh/') Политика в отношении обработки персональных данных
          li
            a(href='/upload/o_kompanii/Годовой отчет АНО еНано за 2020 год.pdf') Годовой отчет 2020
      .l-footer__column.l-column.lg-col-3.col__lg-3.col
        ul.c-footer-submenu
          li
            a(href='/o-kompanii/publichnyy-dogovor-oferta-o-predostavlenii-uslug/') Публичный договор-оферта о предоставлении услуг
          li
            a(href='/o-kompanii/soglasie-na-obrabotku-personalnykh-dannykh/') Согласие на обработку персональных данных
          li
            a(href='http://stage.edunano.ru/o-kompanii/svedeniya-ob-obrazovatelnoy-organizatsii/') Сведения об образовательной организации
      .l-footer__column.l-column.col-12.col__xs-12.col
        .l-footer__copyright © 2013 – 2021 АНО «еНано»
