header.header
  .header-menu
    .l-header__cell.l-header__cell--burger
      .l-burger.header-menu--js
        span.l-burger__dash.l-burger__dash--1
        span.l-burger__dash.l-burger__dash--2
        span.l-burger__dash.l-burger__dash--3
        span.l-burger__dash.l-burger__dash--4
  .header-logo
    a(href='#'): +img('logo-enano-fill.svg')
  .c-header-menu
    .c-header-menu__btn.js-header-menu-btn(data-target='#header-drop-0')
      | Каталог курсов
      img.ui-icon-svg.c-header-menu__btn-arr(src='assets/images/icons/showmore-b-s.svg')
  .header-link
    a(href='#') Мероприятия
  .header-logout
    +img('icons/exit.svg')
    a(href='') Выйти

  nav
    .l-panel-overlay
    .l-panel
      .l-panel__content
        .c-panel-nav.aside-menu
          .c-panel-title.c-panel-title--js.active Главное меню

          +menu(asideMenu)
        .aside-nav
          +menuSide(menu, 'index.html')
    .l-panel-safe

  #header-drop-0.c-header-menu__drop.js-header-menu-drop
    .c-header-menu__wrap-border
      .c-header-menu__border
    .c-header-menu__container.l-container
      .c-header-menu__columns.l-columns
        .c-header-menu__column.c-header-menu__column--catalog.l-column.lg-col-12
          .c-header-menu__head
            .c-header-menu__title Каталог курсов
            a.c-header-menu__all(href='/katalog/')
              | Все курсы
              svg.ui-icon-svg
                use(xlink:href='#icon-rarr')
          ul.c-header-menu__list.l-columns.cols-auto.lg-cols-2.xl-cols-5
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=elektroenergetika')
                span.c-header-menu__item-text Электроэнергетика
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=materialovedy-2-0')
                span.c-header-menu__item-text Материаловеды 2.0
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=it')
                span.c-header-menu__item-text ИТ
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=Menedzhment')
                span.c-header-menu__item-text Менеджмент
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=sistemnoe-myshlenie')
                span.c-header-menu__item-text Системное мышление
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=tekhnologii')
                span.c-header-menu__item-text Технологии
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=otsenka-kvalifikatsii')
                span.c-header-menu__item-text Оценка квалификации
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=marketing')
                span.c-header-menu__item-text Маркетинг
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=e-learning')
                span.c-header-menu__item-text Разработка онлайн-курсов
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=upravlenie-riskami')
                span.c-header-menu__item-text Управление рисками
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=niokr')
                span.c-header-menu__item-text НИОКР
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=yurisprudentsiya')
                span.c-header-menu__item-text Юриспруденция
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=promdizayn')
                span.c-header-menu__item-text Промдизайн
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=obrazovanie')
                span.c-header-menu__item-text Образование
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=nanomaterialy')
                span.c-header-menu__item-text Наноматериалы
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=mikroelektronika')
                span.c-header-menu__item-text Микроэлектроника
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=profstandart')
                span.c-header-menu__item-text Профстандарт
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
            li.l-column
              a.c-header-menu__item(href='/katalog/?tag=onlayn-shkola')
                span.c-header-menu__item-text Онлайн-школа
                svg.ui-icon-svg.c-header-menu__item-icon
                  use(xlink:href='#icon-arrow-up-right')
    img.c-header-menu__close.js-header-menu-close(src='assets/images/icons/close1.svg' alt='' title='')

