aside.aside
  //.aside-logo
    a(href='#'): +img('logo-enano-fill.svg')
  .aside-cabinet
    .aside-user
      +img('dash-1.jpg')
    .aside-name Александр Федоров
    .aside-nav
      +menu(menu, '')
