ol.accordion.list--numbered
  li.accordion-el
    .accordion-header
      .accordion-header-num 1
      .accordion-header-title #[span Модуль 1.] Лучшие международные практики
      .accordion-header-arr: i.icon-chevron-down
    .accordion-body
      ol.eduProgress.list--numbered
        li.eduProgress-el
          .eduProgress-title О преподавателях
          .eduProgress-list
            a.eduProgress-list-el.eduProgress-list-el--finished(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
            a.eduProgress-list-el.eduProgress-list-el--finished(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Для чего необходимо управлять рисками
          .eduProgress-list
            a.eduProgress-list-el.eduProgress-list-el--finished(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Для чего необходимо управлять рисками
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Определение понятия риск
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Определение понятия риск
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title
            i.icon-materials
            | Дополнительные материалы ИСО
        li.eduProgress-el
          .eduProgress-list
            a.eduProgress-list-el.eduProgress-list-el--finished(href='#')
              .eduProgress-list-ico: i.icon-test
              .eduProgress-list-name.eduProgress-list-name--bold Тест по модулю 1
              .eduProgress-list-count 50/#[b 60]
              .eduProgress-list-line
              .eduProgress-list-checked: i.checked
        li.eduProgress-el.eduProgress-el--disabled
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-webinar
              .eduProgress-list-name.eduProgress-list-name--bold Вебинар  по модулю №1
              .eduProgress-list-date 03.07.2019 11:00 - 13:00 MSK
              .eduProgress-list-line
              .eduProgress-list-checked
  li.accordion-el
    .accordion-header
      .accordion-header-num 2
      .accordion-header-title #[span Модуль 2.] Интеграция управления рисками
      .accordion-header-arr: i.icon-chevron-down
    .accordion-body
      ol.eduProgress.list--numbered
        li.eduProgress-el
          .eduProgress-title О преподавателях
          .eduProgress-list
            a.eduProgress-list-el.eduProgress-list-el--finished(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
            a.eduProgress-list-el.eduProgress-list-el--finished(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Для чего необходимо управлять рисками
          .eduProgress-list
            a.eduProgress-list-el.eduProgress-list-el--finished(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Для чего необходимо управлять рисками
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Определение понятия риск
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Определение понятия риск
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title
            i.icon-materials
            | Дополнительные материалы ИСО
        li.eduProgress-el
          .eduProgress-list
            a.eduProgress-list-el.eduProgress-list-el--finished(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name.eduProgress-list-name--bold Тест по модулю 1
              .eduProgress-list-count 50/#[b 60]
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el.eduProgress-el--disabled
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-webinar
              .eduProgress-list-name.eduProgress-list-name--bold Вебинар  по модулю №1
              .eduProgress-list-date 03.07.2019 11:00 - 13:00 MSK
              .eduProgress-list-line
              .eduProgress-list-checked
  li.accordion-el
    .accordion-header
      .accordion-header-num 3
      .accordion-header-title #[span Модуль 3.] Психология риска и культура управления рисками
      .accordion-header-arr: i.icon-chevron-down
    .accordion-body
      ol.eduProgress.list--numbered
        li.eduProgress-el
          .eduProgress-title Ментальные ловушки в процессе управления рисками
          .eduProgress-list
            a.eduProgress-list-el.eduProgress-list-el--finished(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Ментальные ловушки в процессе управления рисками
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Развитие культуры управления рисками на предприятии
          .eduProgress-list
            ol.list--numbered
              li
                .eduProgress-list-title Развитие культуры управления рисками на предприятии
                a.eduProgress-list-el(href='#')
                  .eduProgress-list-ico: i.icon-video
                  .eduProgress-list-name Развитие культуры управления рисками на предприятии
                  .eduProgress-list-time 25 мин
                  .eduProgress-list-line
                  .eduProgress-list-checked
              li
                .eduProgress-list-title Развитие культуры управления рисками на предприятии
                a.eduProgress-list-el(href='#')
                  .eduProgress-list-ico: i.icon-video
                  .eduProgress-list-name Развитие культуры управления рисками на предприятии
                  .eduProgress-list-time 25 мин
                  .eduProgress-list-line
                  .eduProgress-list-checked
        li.eduProgress-el.eduProgress-el--disabled
          .eduProgress-title Развитие культуры управления рисками на предприятии
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Развитие культуры управления рисками на предприятии
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el.eduProgress-el--disabled
          .eduProgress-title
            i.icon-materials
            | Дополнительные материалы ИСО
        li.eduProgress-el.eduProgress-el--disabled
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-test
              .eduProgress-list-name.eduProgress-list-name--bold Тест по модулю 3
              .eduProgress-list-count
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el.eduProgress-el--disabled
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-webinar
              .eduProgress-list-name.eduProgress-list-name--bold Вебинар по модулю №3
              .eduProgress-list-date 03.07.2019 11:00 - 13:00 MSK
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el.eduProgress-el--disabled
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-test
              .eduProgress-list-name.eduProgress-list-name--bold Практическое задание №1. #[br] Отличия РМ1 от РМ2.
              .eduProgress-list-date Дата отправки #[br] 03.07.2019
              .eduProgress-list-date Дата проверки #[br] 03.07.2019
              .eduProgress-list-line
              .eduProgress-list-checked
  li.accordion-el.accordion-el--disabled
    .accordion-header
      .accordion-header-num 4
      .accordion-header-title #[span Модуль 4.] Количественная оценка риска
      .accordion-header-arr: i.icon-chevron-down
    .accordion-body
      ol.eduProgress.list--numbered
        li.eduProgress-el
          .eduProgress-title О преподавателях
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Для чего необходимо управлять рисками
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Для чего необходимо управлять рисками
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Определение понятия риск
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Определение понятия риск
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
  li.accordion-el.accordion-el--disabled
    .accordion-header
      .accordion-header-num 5
      .accordion-header-title #[span Модуль 5.] Итоговый тест
      .accordion-header-arr: i.icon-chevron-down
    .accordion-body
      ol.eduProgress.list--numbered
        li.eduProgress-el
          .eduProgress-title О преподавателях
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Для чего необходимо управлять рисками
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Для чего необходимо управлять рисками
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Определение понятия риск
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Определение понятия риск
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
  li.accordion-el.accordion-el--disabled
    .accordion-header
      .accordion-header-num 6
      .accordion-header-title #[span Модуль 6.] Итоговая работа
      .accordion-header-arr: i.icon-chevron-down
    .accordion-body
      ol.eduProgress.list--numbered
        li.eduProgress-el
          .eduProgress-title О преподавателях
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Эксперт Сидоренко А.И.
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Для чего необходимо управлять рисками
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Для чего необходимо управлять рисками
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
        li.eduProgress-el
          .eduProgress-title Определение понятия риск
          .eduProgress-list
            a.eduProgress-list-el(href='#')
              .eduProgress-list-ico: i.icon-video
              .eduProgress-list-name Определение понятия риск
              .eduProgress-list-time 25 мин
              .eduProgress-list-line
              .eduProgress-list-checked
