ul.pagination.pagination--pager
    li.pagination__item
        a.pagination__link(href='#')
            +img('icons/pagin-prev-bl.svg')
    li.pagination__item.active
        a.pagination__link(href='#') 1
    - for (let x = 2; x < 9; x++)
        li.pagination__item
            a.pagination__link(href='#')= x
    li.pagination__item
        a.pagination__link(href='#')
          +img('icons/pagin-next-bl.svg')
