section.pageHeader
  .container
    .pagination.pagination--one
      a.pagination__item(href='#')
        span Предыдущий модуль
        +img('icons/pagin-prev.svg')
      .pagination__finish.hidden__xs.hidden__sm.hidden__md
        span Дата провения: #[b 03.07.2019 11:00]
        span Статус: #[b прошел]
    h1.title
      .num 3.5.
      div Тест по модулю 3
        br
        small Риск-ориентированное управление. Подготовка к сертификации
        .hidden__lg.hidden__xl
          small Дата провения: #[b 03.07.2019 11:00]
          br
          small Статус: #[b прошел]
