section.pageHeader
  .container
    .pageHeader-inner
      .pageHeader-inner__left
        h1.title
          +img('icons/list.svg')
          span Риск-ориентированное управление. #[span.br] Подготовка к сертификации
      .pageHeader-inner__right
        .pageHeader-progress
          .pageHeader-progress__line
            .pageHeader-progress__line-title Пройдено
            .pageHeader-progress__line-desc 53%
            .pageHeader-progress__line-range(data-num='53'): span(style='width: 53%')
          .pageHeader-progress__job
            .pageHeader-progress__job-title Заданий
            .pageHeader-progress__job-desc #[b 2]/5
        .pageHeader-date Доступ до #[b 20:00 20.02.2020]
